<div data-project="27" data-project-extends="26" class="u-mb-2">
    <pre data-code="Product.java" data-java-package="com.example.app.model" data-java-package-opened data-active><code class="language-java">package com.example.app.model;

public class Product {
    private int id;
    private String name;
    private double price;
    
    public int getId() {
        return id;
    }
    public void setId(int id) {
        this.id = id;
    }
    
    public String getName() {
        return name;
    }
    public void setName(String name) {
        this.name = name;
    }
    
    public double getPrice() {
        return price;
    }
    public void setPrice(double price) {
        this.price = price;
    }
}</code></pre>
</div>