<div data-project="39" data-project-extends="38" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="PageNotFoundPage.jsp" data-folder="src/main/webapp/WEB-INF/jsp" data-active><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;%@ include file="./includes/PageStart.jsp" %&gt;
    &lt;h1&gt;Stránka nenalezena&lt;/h1&gt;
    &lt;p&gt;Stránka bohužel neexistuje. Pokračujte na &lt;a href="${BASE_URL}"&gt;úvodní stránku&lt;/a&gt;.&lt;/p&gt;
&lt;%@ include file="./includes/PageEnd.jsp" %&gt;</code></pre>
</div>