<div data-project="33" data-project-extends="32" class="u-mb-2">
    <pre data-code="ProductsRouter.java" data-java-package="com.example.app.routes.products" data-java-package-opened data-active data-code-highlight="7"><code class="language-java">package com.example.app.routes.products;

import io.github.jirkasa.servletrouter.HttpRouter;

public class ProductsRouter extends HttpRouter {
    public ProductsRouter() {
        register("/", ProductsController.class);
    }
}</code></pre>
</div>