<div data-project="9" data-project-extends="8" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF/jsp/includes</li>
    </ul>
    <pre data-code="PageEnd.jsp" data-folder="src/main/webapp/WEB-INF/jsp/includes" data-active><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8"%&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>