<div data-project="17" data-project-extends="16" class="u-mb-2">
    <pre data-code="AdminRouter.java" data-java-package="com.example.app.routes.admin" data-java-package-opened data-active data-code-highlight="7"><code class="language-java">package com.example.app.routes.admin;

import io.github.jirkasa.servletrouter.HttpRouter;

public class AdminRouter extends HttpRouter {
    public AdminRouter() {
        register("/", AdminHomeController.class);
    }
}</code></pre>
</div>