<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-java">public class ExampleController extends HttpController {
    @Override
    protected void handleGet(HttpServletRequest request, HttpServletResponse response) throws Exception {
        forwardTo("/WEB-INF/jsp/ExamplePage.jsp", request, response);
    }
}</code></pre>
</div>