<div data-project="18" data-project-extends="17" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="BadCSRFTokenPage.jsp" data-folder="src/main/webapp/WEB-INF/jsp" data-active><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Example app&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Došlo k chybě&lt;/h1&gt;
    &lt;p&gt;Byl poslán špatný CSRF token.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>