<div data-slider class="splide u-mb-4" role="group" aria-label="Přidání druhého serveru do Eclipse IDE">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/add-second-server-to-eclipse/add-second-server-to-eclipse-part1.png" alt="Přidání druhého serveru do Eclipse IDE - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V záložce "Servers" klikneme pravým tlačítkem a vybereme že chceme vytvořit nový server.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/add-second-server-to-eclipse/add-second-server-to-eclipse-part2.png" alt="Přidání druhého serveru do Eclipse IDE - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Vybereme co za server chceme vytvořit, nějak jej pojmenujeme a klikneme na "Finish".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/add-second-server-to-eclipse/add-second-server-to-eclipse-part3.png" alt="Přidání druhého serveru do Eclipse IDE - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na vytvořený server klikneme pravým tlačítkem a vybereme "Add and Remove...".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/add-second-server-to-eclipse/add-second-server-to-eclipse-part4.png" alt="Přidání druhého serveru do Eclipse IDE - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na server si přidáme aplikaci s naší škodlivou stránkou.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/add-second-server-to-eclipse/add-second-server-to-eclipse-part5.png" alt="Přidání druhého serveru do Eclipse IDE - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po přidání aplikace klikneme na "Finish".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/add-second-server-to-eclipse/add-second-server-to-eclipse-part6.png" alt="Přidání druhého serveru do Eclipse IDE - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na závěr si otevřeme nastavení serveru dvojtým klikem myši na serveru a přenastavíme port na kterém bude server běžet a také nastavíme admin port. Poté stiskneme ctrl + s pro uložení.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>