<div data-project="9" data-project-extends="8" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="RegisterPage.jsp" data-folder="src/main/webapp/WEB-INF/jsp" data-active><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Example app&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Registrace&lt;/h1&gt;
    &lt;form action="./register" method="POST"&gt;
        &lt;label&gt;Uživatelské jméno:&lt;/label&gt; &lt;input type="text" name="username"/&gt;&lt;br&gt;
        &lt;label&gt;Heslo:&lt;/label&gt; &lt;input type="password" name="password"/&gt;&lt;br&gt;
        &lt;button type="submit"&gt;Zaregistrovat se&lt;/button&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>