<div data-project="6" data-project-extends="5" class="u-mb-4">
    <pre data-code="User.java" data-java-package="com.example.model" data-java-package-opened data-active><code class="language-java">package com.example.model;

public class User {
    private int id;
    private String username;
    private String password;
    
    public int getId() {
        return id;
    }
    public void setId(int id) {
        this.id = id;
    }
    
    public String getUsername() {
        return username;
    }
    public void setUsername(String username) {
        this.username = username;
    }
    
    public String getPassword() {
        return password;
    }
    public void setPassword(String password) {
        this.password = password;
    }
}</code></pre>
</div>