<div data-slider class="splide u-mb-4" role="group" aria-label="Ukázka testovací aplikace pro CSRF útok">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part1.png" alt="Ukázka testovací aplikace pro CSRF útok - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na hlavní stránce (<a href="http://localhost:8080/example-app/home" target="_blank" class="link">http://localhost:8080/example-app/home</a>) má uživatel možnost se zaregistrovat.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part2.png" alt="Ukázka testovací aplikace pro CSRF útok - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po kliknutí na "Zaregistrovat se" se uživateli zobrazí formulář pro registraci.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part3.png" alt="Ukázka testovací aplikace pro CSRF útok - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Uživatel formulář vyplní a odešle jej kliknutím na tlačítko "Zaregistrovat se".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part4.png" alt="Ukázka testovací aplikace pro CSRF útok - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po registraci je uživatel automaticky přihlášen a zobrazí se mu jeho hlavní stránka.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part5.png" alt="Ukázka testovací aplikace pro CSRF útok - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Kliknutím na "Odhlásit se" se uživatel může odhlásit.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part6.png" alt="Ukázka testovací aplikace pro CSRF útok - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po odhlášení se uživatel může přihlásit kliknutím na "Přihlásit se".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part7.png" alt="Ukázka testovací aplikace pro CSRF útok - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Uživateli se zobrazí formulář pro přihlášení.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part8.png" alt="Ukázka testovací aplikace pro CSRF útok - část 8" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Uživatel zadá správné přihlašovací údaje a kliknutím na "Přihlásit se" se přihlásí.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part9.png" alt="Ukázka testovací aplikace pro CSRF útok - část 9" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na hlavní stránce uživatele se nachází možnost smazat účet.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part10.png" alt="Ukázka testovací aplikace pro CSRF útok - část 10" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po kliknutí na možnost "Smazat účet" se uživateli zobrazí stránka, na které může potvrdit, že svůj účet chce opravdu smazat.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/csrf-token-example-app/csrf-token-example-app-part11.png" alt="Ukázka testovací aplikace pro CSRF útok - část 11" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po smazání účtu se uživateli zobrazí veřejná domovská stránka.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>