<div data-project="11" data-project-extends="10" class="u-mb-4">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="stranka.jsp" data-folder="src/main/webapp" data-active data-code-highlight="3"><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!-- Nadefinování knihovny tagů, kterou chceme používat. --&gt;
&lt;%@ taglib uri="moje-tagy" prefix="m" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Tvorba custom tagu&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Aktuální datum a čas: &lt;m:aktualniDatumACas format="dd/MM/yyyy - HH:mm" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>