<div data-project="4" data-project-extends="3" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>src/main/webapp/WEB-INF</li>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF</li>
    </ul>
    <pre data-code="MojeTagy.tld" data-folder="src/main/webapp/WEB-INF" data-active><code class="language-xml">&lt;taglib&gt;
    &lt;tlib-version&gt;1.0&lt;/tlib-version&gt;
    &lt;jsp-version&gt;2.2&lt;/jsp-version&gt;
    &lt;short-name&gt;Moje Tagy&lt;/short-name&gt;
&lt;/taglib&gt;</code></pre>
</div>