<div data-project="3" data-project-extends="2" class="u-mb-2">
    <pre data-code="AktualniDatumACasTagHandler.java" data-java-package="io.github.jirkasa.taghandlers" data-java-package-opened data-active data-code-highlight="19-33"><code class="language-java">package io.github.jirkasa.taghandlers;

import java.io.IOException;
import java.time.LocalDateTime;
import java.time.format.DateTimeFormatter;

import javax.servlet.jsp.JspException;
import javax.servlet.jsp.JspWriter;
import javax.servlet.jsp.tagext.TagSupport;

public class AktualniDatumACasTagHandler extends TagSupport {
    private DateTimeFormatter formatter;
    
    public AktualniDatumACasTagHandler() {
        // vytvoření formatteru, pomocí kterého budeme formátovat aktuální datum a čas
        formatter = DateTimeFormatter.ofPattern("dd.MM.yyyy HH:mm");
    }

    @Override
    public int doStartTag() throws JspException {
        // získání aktuálního datumu a času
        String currentDateAndTime = formatter.format(LocalDateTime.now());
        
        // získání JSP writeru a vypsání aktuálního datumu a času na stránku
        JspWriter out = pageContext.getOut();
        try {
            out.print(currentDateAndTime);
        } catch (IOException e) {
            System.out.println(e);
        }
        
        return SKIP_BODY;
    }
}</code></pre>
</div>