<div data-project="8" data-project-extends="7" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF</li>
    </ul>
    <pre data-code="MojeTagy.tld" data-folder="src/main/webapp/WEB-INF" data-active data-code-highlight="8-11"><code class="language-xml">&lt;taglib&gt;
    &lt;tlib-version&gt;1.0&lt;/tlib-version&gt;
    &lt;jsp-version&gt;2.2&lt;/jsp-version&gt;
    &lt;short-name&gt;Moje Tagy&lt;/short-name&gt;
    &lt;tag&gt;
        &lt;name&gt;aktualniDatumACas&lt;/name&gt;
        &lt;tag-class&gt;io.github.jirkasa.taghandlers.AktualniDatumACasTagHandler&lt;/tag-class&gt;
        &lt;attribute&gt;
            &lt;name&gt;format&lt;/name&gt;
            &lt;required&gt;false&lt;/required&gt;
        &lt;/attribute&gt;
    &lt;/tag&gt;
&lt;/taglib&gt;</code></pre>
</div>