<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;%
    // pokud chceme používat metody HttpServlet třídy, je potřeba objekt castnout
    ((HttpServlet) page).getServletConfig();

    // použití klíčového slova this je o dost jednodušší
    this.getServletConfig();
%&gt;</code></pre>
</div>