<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8" isErrorPage="true"%&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Chyba&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Omlouváme se, bohužel došlo k chybě: &lt;%= exception %&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>