<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="no-highlight">&lt;%
    String text = "Ahoj";
    out.println("&lt;p&gt;" + text + "&lt;/p&gt;");
%&gt;</code></pre>
</div>