<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code data-code-highlight="3"><code class="language-xml">&lt;servlet&gt;
    &lt;servlet-name&gt;Stranka&lt;/servlet-name&gt;
    &lt;jsp-file&gt;/stranka.jsp&lt;/jsp-file&gt;
    &lt;init-param&gt;
        &lt;param-name&gt;nadpis&lt;/param-name&gt;
        &lt;param-value&gt;Úvod do JSP&lt;/param-value&gt;
    &lt;/init-param&gt;
&lt;/servlet&gt;</code></pre>
</div>