<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- kód uvnitř následujícího c:forTokens tagu se provede
pro hodnotu "nosorožec", "opice" a "medvěd" --&gt;
&lt;c:forTokens var="zvire" items="nosorožec,opice,medvěd" delims=","&gt;
    &lt;c:out value="${zvire}"/&gt;&lt;p&gt;
&lt;/c:forTokens&gt;</code></pre>
</div>