<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;c:if test="${3 > 2}"&gt;
    &lt;p&gt;Toto se vypíše jen když platí podmínka.&lt;/p&gt;
&lt;/c:if&gt;</code></pre>
</div>