<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- načte obsah stránky z URL "https://jirkasa.github.io/" do proměnné "data" --&gt;
&lt;c:import var="data" url="https://jirkasa.github.io/"/&gt;</code></pre>
</div>