<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- toto se na stránku přidá jako script tag --&gt;
&lt;%= "&lt;script&gt;console.log('ahoj');&lt;/script&gt;" %&gt;

&lt;c:set var="obsah" value="&lt;script&gt;console.log('ahoj');&lt;/script&gt;"/&gt;
&lt;!-- toto se na stránku přidá jako text --&gt;
&lt;c:out value="${ obsah }"/&gt;</code></pre>
</div>