<div data-code-box data-no-buttons class="u-mb-6">
    <pre data-code><code class="language-html">&lt;!-- vytvoří URL /nazev-projektu/stranka.jsp?page=1&category=keyboards --&gt;
&lt;c:url var="mojeURL" value="/stranka.jsp"&gt;
    &lt;c:param name="page" value="1"/&gt;
    &lt;c:param name="category" value="keyboards"/&gt;
&lt;/c:url&gt;</code></pre>
</div>