<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- přesměrování na https://jirkasa.github.io/ --&gt;
&lt;c:redirect url="https://jirkasa.github.io/"/&gt;</code></pre>
</div>