<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- vypsání URL na stránku --&gt;
&lt;c:url value="/stranka.jsp"/&gt;
&lt;!-- uložení URL do proměnné mojeURL --&gt;
&lt;c:url var="mojeURL" value="/stranka.jsp"/&gt;</code></pre>
</div>