<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;fmt:bundle basename="io.github.jirkasa.labels"&gt;
    &lt;fmt:message key="label.welcome" /&gt;
&lt;/fmt:bundle&gt;</code></pre>
</div>