<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- 20 --&gt;
&lt;fmt:parseNumber value="20,00 KÄ"/&gt;

&lt;!-- 196358 --&gt;
&lt;fmt:parseNumber value="196358,354" integerOnly="true"/&gt;</code></pre>
</div>