<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;fmt:timeZone value="CET"&gt;
    &lt;fmt:formatDate value="&lt;%= new java.util.Date() %&gt;" dateStyle="FULL" /&gt;
&lt;/fmt:timeZone&gt;</code></pre>
</div>