<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;c:set var="retezec" value="Toto je řetězec."/&gt;

&lt;!-- funkce indexOf v tomto případě vrátí hodnotu 5 --&gt;
&lt;p&gt;Index (pozice) podřetězce "je": ${fn:indexOf(retezec, "je")}&lt;/p&gt;</code></pre>
</div>