<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;c:set var="retezec" value="Toto je řetězec."/&gt;
&lt;p&gt;Délka řetězce je ${fn:length(retezec)}&lt;/p&gt;

&lt;c:set var="zvirata" value="${fn:split(\"nosorožec-lev-opice\", '-')}"/&gt;
&lt;p&gt;Délka pole je ${fn:length(zvirata)}&lt;/p&gt;</code></pre>
</div>