<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;c:set var="retezec" value="Toto je řetězec."/&gt;

&lt;!-- vytvoří řetězec "Toto " --&gt;
${fn:substringBefore(retezec, "je")}</code></pre>
</div>