<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;c:set var="retezec" value="nosorožec-lev-opice"/&gt;

&lt;!-- vytvoření pole zvirata ["nosorožec", "lev", "opice"] --&gt;
&lt;c:set var="zvirata" value="${fn:split(retezec, '-')}"/&gt;

&lt;!-- výsledné pole můžeme třeba projet forEach cyklem --&gt;
&lt;c:forEach var="zvire" items="${zvirata}"&gt;
    &lt;p&gt;${zvire}&lt;/p&gt;
&lt;/c:forEach&gt;</code></pre>
</div>