<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;c:set var="retezec" value="TOTO JE ŘETĚZEC."/&gt;

&lt;!-- vytvoří řetězec "toto je řetězec." --&gt;
${fn:toLowerCase(retezec)}</code></pre>
</div>