<div data-project="6" data-project-extends="5" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder>src/main/resources/io</li>
        <li data-command-open-folder>src/main/resources/io/github</li>
        <li data-command-open-folder>src/main/resources/io/github/jirkasa</li>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="stranka.jsp" data-folder="src/main/webapp" data-active><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %&gt;

&lt;fmt:setBundle basename="io.github.jirkasa.labels" /&gt;</code></pre>
</div>