<div data-project="5" data-project-extends="4" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>src/main/resources/io/github/jirkasa</li>
        <li data-command-open-folder-to-root>src/main/resources/io/github/jirkasa</li>
    </ul>
    <pre data-code="labels.properties" data-folder="src/main/resources/io/github/jirkasa" data-active><code class="no-highlight">label.welcome=Welcome. Enter your username and password.
label.username=Username
label.password=Password
label.login=Login</code></pre>
</div>