<div data-project="8" data-project-extends="7" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/resources/io/github/jirkasa</li>
    </ul>
    <pre data-code="labels_cs_CZ.properties" data-folder="src/main/resources/io/github/jirkasa" data-active><code class="no-highlight">label.welcome=Vítejte. Zadejte své uživatelské jméno a heslo.
label.username=Uživatelské jméno
label.password=Heslo
label.login=Přihlásit se</code></pre>
</div>