<div data-project="9" data-project-extends="8" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/resources/io/github/jirkasa</li>
    </ul>
    <pre data-code="labels_de_DE.properties" data-folder="src/main/resources/io/github/jirkasa" data-active><code class="no-highlight">label.welcome=Willkommen. Geben Sie Ihren Benutzernamen und Ihr Passwort ein.
label.username=Nutzername
label.password=Passwort
label.login=Anmeldung</code></pre>
</div>