<div data-project="9" data-project-extends="8" class="u-mb-2">
<pre data-code="Servlet2.java" data-java-package data-active><code>import javax.servlet.GenericServlet;

public class Servlet2 extends GenericServlet {

}</code></pre>
</div>