<div data-project="4" data-project-extends="3" class="u-mb-2">
<pre data-code="Servlet1.java" data-java-package data-java-package-opened data-active data-code-highlight="32"><code>import java.io.IOException;

import javax.servlet.Servlet;
import javax.servlet.ServletConfig;
import javax.servlet.ServletException;
import javax.servlet.ServletRequest;
import javax.servlet.ServletResponse;

public class Servlet1 implements Servlet {
    private ServletConfig config = null;

    @Override
    public void init(ServletConfig config) throws ServletException {
        this.config = config;
    }
    
    @Override
    public void service(ServletRequest req, ServletResponse res) throws ServletException, IOException {
    }
    
    @Override
    public void destroy() {
    }

    @Override
    public ServletConfig getServletConfig() {
        return this.config;
    }

    @Override
    public String getServletInfo() {
        return "Servlet, vytvořený implementací Servlet rozhraní.";
    }
}</code></pre>
</div>