<div data-project="13" data-project-extends="12" class="u-mb-2">
<pre data-code="Servlet2.java" data-java-package data-java-package-opened data-active data-code-highlight="11,13-18,32"><code class="language-java">import java.io.IOException;
import java.io.PrintWriter;

import javax.servlet.GenericServlet;
import javax.servlet.ServletConfig;
import javax.servlet.ServletException;
import javax.servlet.ServletRequest;
import javax.servlet.ServletResponse;

public class Servlet2 extends GenericServlet {
    private String nadpisStranky;
    
    @Override
    public void init(ServletConfig config) throws ServletException {
        super.init(config);
        // získání inicializačního parametru
        this.nadpisStranky = config.getInitParameter("nadpis_stranky");
    }

    @Override
    public void service(ServletRequest req, ServletResponse res) throws ServletException, IOException {
        res.setContentType("text/html; charset=utf-8");
        
        try (PrintWriter out = res.getWriter()) {
            out.println("&lt;!DOCTYPE html&gt;");
            out.println("&lt;html&gt;");
            out.println("&lt;head&gt;");
            out.println("&lt;meta charset=\"UTF-8\"&gt;");
            out.println("&lt;title&gt;Úvod do Servletů&lt;/title&gt;");
            out.println("&lt;/head&gt;");
            out.println("&lt;body&gt;");
            out.println("&lt;h1&gt;" + this.nadpisStranky + "&lt;/h1&gt;");
            out.println("&lt;p&gt;Servlet, vytvořený zděděním třídy GenericServlet.&lt;/p&gt;");
            out.println("&lt;/body&gt;");
            out.println("&lt;/html&gt;");
        }
    }
}</code></pre>
</div>