<div data-project="5" data-project-extends="4" class="u-mb-2">
<pre data-code="Servlet1.java" data-java-package data-java-package-opened data-active data-code-highlight="20-37"><code class="language-java">import java.io.IOException;
import java.io.PrintWriter;

import javax.servlet.Servlet;
import javax.servlet.ServletConfig;
import javax.servlet.ServletException;
import javax.servlet.ServletRequest;
import javax.servlet.ServletResponse;

public class Servlet1 implements Servlet {
    private ServletConfig config = null;

    @Override
    public void init(ServletConfig config) throws ServletException {
        this.config = config;
    }
    
    @Override
    public void service(ServletRequest req, ServletResponse res) throws ServletException, IOException {
        // nastavení headeru Content-Type, který slouží k informování klienta, co za obsah posíláme
        // (posíláme HTML stránku)
        res.setContentType("text/html; charset=utf-8");
        
        // poslání HTML stránky
        try (PrintWriter out = res.getWriter()) {
            out.println("&lt;!DOCTYPE html&gt;");
            out.println("&lt;html&gt;");
            out.println("&lt;head&gt;");
            out.println("&lt;meta charset=\"UTF-8\"&gt;");
            out.println("&lt;title&gt;Úvod do Servletů&lt;/title&gt;");
            out.println("&lt;/head&gt;");
            out.println("&lt;body&gt;");
            out.println("&lt;h1&gt;Servlet1&lt;/h1&gt;");
            out.println("&lt;p&gt;Servlet, vytvořený implementací Servlet rozhraní.&lt;/p&gt;");
            out.println("&lt;/body&gt;");
            out.println("&lt;/html&gt;");
        }
    }
    
    @Override
    public void destroy() {
    }

    @Override
    public ServletConfig getServletConfig() {
        return this.config;
    }

    @Override
    public String getServletInfo() {
        return "Servlet, vytvořený implementací Servlet rozhraní.";
    }
}</code></pre>
</div>