<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="no-highlight">Host: www.string-striker.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3
Content-Type: text/html</code></pre>
</div>