<div data-project="4" data-project-extends="3" class="u-mb-2">
    <pre data-code="HelloWorldServlet.java" data-active data-java-package data-java-package-opened><code>import javax.servlet.http.HttpServlet;

public class HelloWorldServlet extends HttpServlet {

}</code></pre>
</div>