<div data-slider class="splide u-mb-2" role="group" aria-label="Vytvoření Maven projektu v Eclipse IDE">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-create-maven-project/eclipse-create-maven-project-part1.png" alt="Vytvoření Maven projektu v Eclipse IDE - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V horním menu klikneme na "File" a vybereme "New" > "Maven Project".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-create-maven-project/eclipse-create-maven-project-part2.png" alt="Vytvoření Maven projektu v Eclipse IDE - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Zaškrtneme že chceme vytvořit jednoduchý projekt (přeskočíme výběr archetypu), jak ukazuje obrázek a klikneme na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-create-maven-project/eclipse-create-maven-project-part3.png" alt="Vytvoření Maven projektu v Eclipse IDE - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Nastavíme Group Id, Artifact Id, packaging a název. Poté můžeme kliknout na "Finish".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-create-maven-project/eclipse-create-maven-project-part4.png" alt="Vytvoření Maven projektu v Eclipse IDE - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Projekt se nám vytvořil.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>