<div data-slider class="splide u-mb-4" role="group" aria-label="Spuštění Tomcat serveru v Eclipse IDE">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part1.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V záložce "Servers" klikneme pravým tlačítkem na Tomcat server a vybereme možnost "Add and Remove...".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part2.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřelo se nám okno, které slouží pro přidání projektů ke spuštění na serveru. Vybereme náš projekt a klikneme na tlačítko "Add".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part3.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Projekt se nám přesunul z části "Available" do části "Configured". Můžeme kliknout na tlačítko "Finish".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part4.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Projekty, které máme pro server nakonfigurované, můžeme vidět, pokud si kliknutím na šipku jak ukazuje obrázek, rozbalíme rozbalovací seznam.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part5.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Server můžeme spustit tak, že si na něj klikneme pravým tlačítkem a vybereme "Debug" nebo "Start". Pro vývoj je lepší vybrat "Debug", protože potom máme třeba možnost nastavovat breakpointy.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part6.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Pokud na nás vyskočí okno, že Firewall zablokoval některé funkce aplikace, tak vybereme "Povolit přístup".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part7.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po spuštění u Tomcat serveru uvidíme text "[Debugging, Synchronized]".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-run-tomcat-server/eclipse-run-tomcat-server-part8.png" alt="Spuštění Tomcat serveru v Eclipse IDE - část 8" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Naši aplikaci můžeme navštívit na adrese <a href="http://localhost:8080/hello-world/hello-world" target="_blank" class="link">http://localhost:8080/hello-world/hello-world</a>.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>