<div data-slider class="splide u-mb-2" role="group" aria-label="Přidání Tomcat serveru do Eclipse IDE">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-add-tomcat-server/eclipse-add-tomcat-server-part1.png" alt="Přidání Tomcat serveru do Eclipse IDE - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V záložce "Servers" vybereme, že chceme vytvořit nový server, jak ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-add-tomcat-server/eclipse-add-tomcat-server-part2.png" alt="Přidání Tomcat serveru do Eclipse IDE - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřelo se nám okno, které slouží pro výběr typu serveru. Rozbalíme složku "Apache".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-add-tomcat-server/eclipse-add-tomcat-server-part3.png" alt="Přidání Tomcat serveru do Eclipse IDE - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Nainstalovali jsme si verzi Tomcatu 9, takže vybereme "Tomcat v9.0 Server". Poté klikneme na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-add-tomcat-server/eclipse-add-tomcat-server-part4.png" alt="Přidání Tomcat serveru do Eclipse IDE - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V tomto okně zvolíme složku, do které se nám Tomcat nainstaloval a klikneme na "Finish".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-add-tomcat-server/eclipse-add-tomcat-server-part5.png" alt="Přidání Tomcat serveru do Eclipse IDE - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V záložce "Servers" můžeme vidět, že se nám Tomcat server vytvořil. Dvojklikem na něj klikneme.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-add-tomcat-server/eclipse-add-tomcat-server-part6.png" alt="Přidání Tomcat serveru do Eclipse IDE - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřelo se nám okno, kde můžeme Tomcat různě nastavovat. Pokud není nastaven Tomcat admin port, tak jej můžete nastavit třeba na port 9000, jak ukazuje obrázek. Poté to uložíme pomocí ctrl + s.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>