<div data-slider class="splide u-mb-2" role="group" aria-label="Instalace Eclipse IDE">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-installation/eclipse-installation-part1.png" alt="Instalace Eclipse IDE - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřeme si oficiální webové stránky Eclipsu: <a href="https://www.eclipse.org/" target="_blank" class="link">https://www.eclipse.org/</a>. V horním menu stránky klikneme vpravo na tlačítko "Download".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/eclipse-installation/eclipse-installation-part2.png" alt="Instalace Eclipse IDE - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřela se nám stránka s možnostmi pro stažení.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part3.png" alt="Instalace Eclipse IDE - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Zascrollujeme na stránce trochu dolů a klikneme na možnost "Download Packages", jak ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part4.png" alt="Instalace Eclipse IDE - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřela se nám stránka, která obsahuje odkazy ke stažení Eclipse IDE předkonfigurované pro různé typy developerů.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part5.png" alt="Instalace Eclipse IDE - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Zascrollujeme na stránce trochu dolů a stáhneme si "Eclipse IDE for Enterprise Java and Web Developers".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part6.png" alt="Instalace Eclipse IDE - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Klikneme na tlačítko "Download".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part7.png" alt="Instalace Eclipse IDE - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Stáhnul se nám zazipovaný soubor. Eclipse nemá instalační balíček. Můžeme na něj kliknout pravým tlačítkem a vybrat "Extrahovat vše...".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part8.png" alt="Instalace Eclipse IDE - část 8" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Můžeme vybrat složku kam se má Eclipse extrahovat a kliknout na "Extrahovat".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part9.png" alt="Instalace Eclipse IDE - část 9" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřeme si složku, kde jsme si Eclipse rozbalili.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part10.png" alt="Instalace Eclipse IDE - část 10" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Ve složce eclipse se nachází soubor "eclipse.exe". Tím můžeme Eclipse IDE spustit.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part11.png" alt="Instalace Eclipse IDE - část 11" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Před spuštěním se nás to zeptá, jakou složku chceme použít jako workspace. Jedná se jednoduše o složku, která bude pro Eclipse sloužit jako pracovní prostředí a ve které budeme ukládat zdrojové kódy našich projektů. Můžeme vybrat jakoukoliv složku chceme a kliknout na "Launch".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part12.png" alt="Instalace Eclipse IDE - část 12" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Počkáme než se Eclipse spustí.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/eclipse-installation/eclipse-installation-part13.png" alt="Instalace Eclipse IDE - část 13" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po spuštění uvidíme něco podobného, co ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>