<div data-slider class="splide u-mb-4" role="group" aria-label="Nastavení systémové proměnné JAVA_HOME">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/java-home-configuration/java-home-configuration-part1.png" alt="Nastavení systémové proměnné JAVA_HOME - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V průzkumníku souborů si otevřeme složku, kam se nám JDK nainstalovalo a zkopírujeme si cestu ke složce bin, která se tam nachází.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/java-home-configuration/java-home-configuration-part2.png" alt="Nastavení systémové proměnné JAVA_HOME - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Do vyhledávače u Start tlačítka můžeme napsat třeba "proměnné prostředí" a vybrat možnost "Upravit proměnné prostředí systému", jak ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part3.png" alt="Nastavení systémové proměnné JAVA_HOME - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V okně které se nám otevře klikneme na tlačítko "Proměnné prostředí...".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part4.png" alt="Nastavení systémové proměnné JAVA_HOME - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V části Systémové proměnné vybereme "Path" a klikneme na "Upravit...".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part5.png" alt="Nastavení systémové proměnné JAVA_HOME - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Přidáme novou hodnotu a vložíme tam zkopírovanou cestu k JDK bin složce.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part6.png" alt="Nastavení systémové proměnné JAVA_HOME - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Klikneme na tlačítko "OK".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part7.png" alt="Nastavení systémové proměnné JAVA_HOME - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Teď přidáme novou systémovou proměnnou kliknutím na tlačítko "Nová...".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part8.png" alt="Nastavení systémové proměnné JAVA_HOME - část 8" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Systémovou proměnnou pojmenujeme jako JAVA_HOME a jako hodnotu jí nastavíme cestu ke složce s JDK (ne k bin složce). Poté klikneme na "OK".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part9.png" alt="Nastavení systémové proměnné JAVA_HOME - část 9" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Systémovou proměnnou máme nastavenou. Okno můžeme zavřít kliknutím na "OK".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/java-home-configuration/java-home-configuration-part10.png" alt="Nastavení systémové proměnné JAVA_HOME - část 10" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Jestli máme systémovou proměnnou JAVA_HOME správně nastavenou můžeme ověřit tak, že si otevřeme příkazový řádek a napíšeme "echo %JAVA_HOME%". Měla by se nám vypsat její hodnota.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>