<div data-slider class="splide u-mb-2" role="group" aria-label="Instalace JDK">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../static/img/sliders/jdk-installation/jdk-installation-part1.png" alt="JDK instalace - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Jako první napíšeme do googlu, že chceme stáhnout JDK ("download JDK") a klikneme na první výsledek. Nebo můžete použít následující odkaz: <a href="https://www.oracle.com/java/technologies/downloads/" target="_blank" class="link">https://www.oracle.com/java/technologies/downloads/</a>. Otevře se vám webová stránka, kterou ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../static/img/sliders/jdk-installation/jdk-installation-part2.png" alt="JDK instalace - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na stránce zascrollujeme trochu dolů a klikneme na "JDK 17" jak ukazuje obrázek. Můžete klidně použít i novější verzi Javy pokud chcete. Firmy většinou používají LTS (long time support) verze, protože mají dlouhodobou podporu. Asi bych doporučoval používat LTS verzi Javy i pro své osobní projekty. Poslední LTS verze je v době psaní tohoto tutoriálu JDK 21, ale je poměrně nová, proto jsem se v tutoriálu rozhodl použít JDK 17. Pokud si namísto toho chcete stáhnout JDK 21, tak klidně můžete.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/jdk-installation/jdk-installation-part3.png" alt="JDK instalace - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na stránce, která se nám otevřela, vybereme že chceme verzi pro Windows a stáhneme si instalační balíček (msi).</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/jdk-installation/jdk-installation-part4.png" alt="JDK instalace - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Stažený instalační balíček spustíme. Na první stránce klikneme na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/jdk-installation/jdk-installation-part5.png" alt="JDK instalace - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na další stránce se nám ukáže, kam se JDK nainstaluje. Můžeme to změnit nebo nechat defaultní cestu a kliknout na "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/jdk-installation/jdk-installation-part6.png" alt="JDK instalace - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Poté na nás vyskočí okno, kde kliknutím na "Ano" instalačnímu programu povolíme, aby mohl provádět změny na našem zařízení.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/jdk-installation/jdk-installation-part7.png" alt="JDK instalace - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Chvíli počkáme, než se JDK nainstaluje.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/jdk-installation/jdk-installation-part8.png" alt="JDK instalace - část 8" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po nainstalování můžeme kliknout na "Close".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/jdk-installation/jdk-installation-part9.png" alt="JDK instalace - část 9" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Pokud si chceme ověřit, že se JDK skutečně nainstalovalo, tak můžeme v příkazovém řádku napsat příkaz "java -version".</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>