<div data-slider class="splide u-mb-2" role="group" aria-label="Instalace MySQL">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/mysql-installation/mysql-installation-part1.png" alt="Instalace MySQL - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Navštívíme stránku <a href="https://dev.mysql.com/downloads/mysql/" target="_blank" class="link">https://dev.mysql.com/downloads/mysql/</a>.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/mysql-installation/mysql-installation-part2.png" alt="Instalace MySQL - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Vybereme, že chceme stáhnout jinou verzi než Innovation. Obrázek ukazuje verzi 8.0.35.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part3.png" alt="Instalace MySQL - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Zascrollujeme trochu dolů a vybereme, že chceme stáhnout instalační balíček (klikneme na "Go to Download Page", jak ukazuje obrázek).</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part4.png" alt="Instalace MySQL - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Máme možnost vybrat ze dvou instalačních balíčků. První potřebuje přístup k internetu a je malý. Druhý nepotřebuje přístup k internetu ale je větší. Vybereme, že chceme stáhnout ten první.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part5.png" alt="Instalace MySQL - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na stránce, která se nám zobrazila, klikneme dole na "No thanks, just start my download". Instalační balíček se nám stáhne.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part6.png" alt="Instalace MySQL - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po spuštění instalačního balíčku na nás vyskočí okno, která se nás zeptá, zda chceme aplikaci povolit aby mohla na našem zařízení provádět změny. Vybereme "Ano".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part7.png" alt="Instalace MySQL - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Chvíli počkáme.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part8.png" alt="Instalace MySQL - část 8" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Znovu se nás to zeptá, jestli chceme povolit aby aplikace mohla na našem zařízení provádět změny. Vybereme "Ano".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part9.png" alt="Instalace MySQL - část 9" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Instalační program se nám spustil. Na úvodní obrazovce vybereme, že chceme provádět custom instalaci a klikneme na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part10.png" alt="Instalace MySQL - část 10" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce si můžeme vybrat produkty, které chceme nainstalovat. Vybereme MySQL server, jak ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part11.png" alt="Instalace MySQL - část 11" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Také si nainstalujeme MySQL Workbench. Jedná se o aplikaci, která nám umožňuje s databází pracovat pomocí GUI.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part12.png" alt="Instalace MySQL - část 12" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po výběru věcí, které chceme nainstalovat, klikneme na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part13.png" alt="Instalace MySQL - část 13" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce můžeme kliknutím na "Execute" stáhnout produkty, které jsme si na předchozí obrazovce vybrali.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part14.png" alt="Instalace MySQL - část 14" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Chvíli počkáme, než se nám produkty stáhnou.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part15.png" alt="Instalace MySQL - část 15" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po stažení můžeme kliknout na tlačítko "Next". Pokud z nějakého důvodu stažení nějakého produktu selže, tak se pomocí tlačítka "Back" vraťte zpět a znovu to všechno stáhněte (nejen to co selhalo). Mě se to při instalaci stalo a vybral jsem ke stažení jen to co selhalo. To co se mi předtím úspěšně stáhlo se mi nenainstalovalo. Proto na obrázku vidíte jen stažený MySQL server. MySQL Workbench jsem potom instaloval samostatně.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part16.png" alt="Instalace MySQL - část 16" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce můžeme kliknout na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part17.png" alt="Instalace MySQL - část 17" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce můžeme kliknutím na "Next" nakonfigurovat náš MySQL server.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part18.png" alt="Instalace MySQL - část 18" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Spustil se nám průvodce pro konfiguraci MySQL serveru. Ujistíme se, že "Config Type" je nastavený na "Development Computer". To znamená, že MySQL server na našem počítači zabere co nejméně operační paměti. U všech možností můžeme nechat defaultní hodnoty a kliknout na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part19.png" alt="Instalace MySQL - část 19" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce můžeme vybrat, jestli chceme používat silnější šifrování hesla, které je dostupné od verze 8. Pokud tedy nechceme podporovat starší verze MySQL, tak necháme vybranou doporučenou možnost a klikneme na "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part20.png" alt="Instalace MySQL - část 20" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce zvolíme heslo pro uživatele root, který bude mít přístup ke všemu na našem serveru. Klidně můžeme zvolit třeba heslo "admin", jelikož databázi máme jen pro vývoj. Poté klikneme na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part21.png" alt="Instalace MySQL - část 21" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce můžeme nechat defaultní nastavení a kliknout na "Next". Můžete si všimnout možnosti "Start the MySQL Server at System Startup". Tato možnost nastavuje, že se MySQL server automaticky spustí při zapnutí našeho počítače. Nemusíme jej tedy spouštět ručně. Určitě doporučuji tuto možnost nechat zapnutou, protože MySQL zabírá jen malou část paměti a rozhodně nezhorší výkon vašeho počítače.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part22.png" alt="Instalace MySQL - část 22" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této obrazovce necháme defaultní možnost a klikneme na "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part23.png" alt="Instalace MySQL - část 23" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na poslední obrazovce průvodce konfigurací MySQL serveru můžeme aplikovat změny, které jsme provedli, kliknutím na tlačítko "Execute".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part24.png" alt="Instalace MySQL - část 24" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Chvíli počkáme.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part25.png" alt="Instalace MySQL - část 25" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po nakonfigurování můžeme kliknout na "Finish".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part26.png" alt="Instalace MySQL - část 26" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Vrátili jsme se na obrazovku, ze které se nám průvodce konfigurací MySQL serveru spustil. Můžeme kliknout na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-installation/mysql-installation-part27.png" alt="Instalace MySQL - část 27" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Instalace je hotová. Instalační program můžeme zavřít kliknutím na "Finish".</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>