<div data-slider class="splide u-mb-4" role="group" aria-label="Spuštění MySQL klienta příkazového řádku">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/run-mysql-command-line-client/run-mysql-command-line-client-part1.png" alt="Spuštění MySQL klienta příkazového řádku - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Do vyhledávače u Start tlačítka můžeme napsat "mysql" a vybrat command line client aplikaci, jak ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/run-mysql-command-line-client/run-mysql-command-line-client-part2.png" alt="Spuštění MySQL klienta příkazového řádku - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po spuštění zadáme heslo, které jsme si při instalaci MySQL serveru nastavili a stiskneme Enter.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/run-mysql-command-line-client/run-mysql-command-line-client-part3.png" alt="Spuštění MySQL klienta příkazového řádku - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Pokud bylo heslo správné, tak jsme se úspěšně přihlásili.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/run-mysql-command-line-client/run-mysql-command-line-client-part4.png" alt="Spuštění MySQL klienta příkazového řádku - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Můžeme si třeba zkusit vypsat všechny databáze dotazem "SHOW DATABASES;".</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>