<div class="code-box u-mb-4" class="u-mb-2">
    <div class="code-box__files">
        <button class="code-box__file-button">
            <svg>
                <use xlink:href="./static/icon-sprite.svg#file"></use>
            </svg>
            <span>Something</span>
        </button>
    </div>
    <div class="code-box__code">
        <div class="code-box__line-numbers">
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
        </div>
        <div class="code-box__code-container">
            <pre><code>// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1</code></pre>
        </div>
    </div>
</div>