<div data-project="1" data-project-name="hello-world">
    <ul data-project-folders>
        <li>
            src
            <ul>
                <li>
                    main
                    <ul>
                        <li data-java-packages-folder>java</li>
                        <li>resources</li>
                        <li>webapp</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            test
            <ul>
                <li>java</li>
                <li>resources</li>
            </ul>
        </li>
        <li>target</li>
    </ul>
<pre data-code="pom.xml" data-code-highlight="1-2, 5-6, 8" ><code>&lt;project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd"&gt;
    &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
    &lt;groupId&gt;io.github.jirkasa&lt;/groupId&gt;
    &lt;artifactId&gt;hello-world-2&lt;/artifactId&gt;
    &lt;version&gt;0.0.1-SNAPSHOT&lt;/version&gt;
    &lt;packaging&gt;war&lt;/packaging&gt;
    &lt;name&gt;hello-world&lt;/name&gt;
&lt;/project&gt;</code></pre>
<pre data-code="Test.java" data-folder="src/main/webapp"><code>// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test</code></pre>
<pre data-code="User.java" data-java-package="io.github.jirkasa" data-java-package-opened><code>// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test
// test</code></pre>
</div>