<div data-code-box data-project class="u-mb-2">
<ul data-folders>
    <li>
        <span>main</span>
        <ul>
            <li><span data-java-packages-folder>java</span></li>
        </ul>
    </li>
    <li>
        <span>test</span>
    </li>
</ul>
<pre data-code="Test1.java" data-folder="main/java"><code>// test 1</code></pre>
<pre data-code="Test2.java" data-folder="main/java" data-java-package="io.github.jirkasa"><code>// test 2</code></pre>
<pre data-code="Test3.java" data-folder="main/java" data-java-package="io.github.jirkasa"><code>// test 3</code></pre>
<pre data-code="Test4.java" data-folder="main/java" data-java-package="io.github.jirkasa"><code>// test 4</code></pre>
</div>

    <!-- 
        data attributy:
            data-code-box
            data-code=[nazev]
            data-code-highlight=[řádek-řádek, řádek-řádek] - může jich být víc
            data-code-active - nastaví, že soubor bude v code boxu vybraný
            data-project=[id] - pokud nebude mít id, nepůjde extendovat
            data-project-name=[nazev]
            data-project-extends
            nějak musím vytvořit složky (asi data-folders)
                - asi se to vytvoří podle struktury
            data-folder (složka, ve které soubor bude) - defaultně bude v root složce
            data-java-package (nastaví se balíček, ve kterém soubor bude) - defaultně žádný (defaultní)
            data-java-packages-folder (automaticky se tam vytvoří příslušné složky)
            - JEŠTĚ POŘEŠIT MAZÁNÍ SOUBORŮ A SLOŽEK
            - pokud nebude vybrán (atributem - na ten jsem ještě zapomněl) žádný soubor, tak se vypíše že není vybrán žádný soubor
            - ještě by mohlo jít nastavit, které složky budou otevřené a které zavřené - to ještě uvidím
            - napsat to potom do README
     -->

     <!-- 
        data atributy - hotovo:
        CODE BOX:
            data-code-box (pokud se používá data-project atribut, tak je to nepovinné) - HOTOVO
            data-no-buttons (nezobrazí se u SimpleCodeBoxu header s tlačítky) - HOTOVO
            data-no-implicit-active-code (jen pro simple, u data-project to bude automaticky nastaveno) - HOTOVO
            data-project=[id] - HOTOVO - ID je potřeba
            data-project-name=[název_projektu] - HOTOVO
            data-project-extends=[project-id]
            data-project-removed-resources[path, path...]

        CODE
            data-code=[?název_souboru] - HOTOVO
            data-folder - HOTOVO
            data-code-highlight=[řádek-řádek, řádek-řádek...] - HOTOVO
            data-active - HOTOVO
            data-opened - HOTOVO
            data-closed (ASI NE - ale nějak to budu chtít v podprojektech zavírat, takže uvidím)
            data-java-package (nemusí se dát data-folder, ale pokud se dá, tak se to do té složky umístí) - pokud se nespecifikuje hodnota, tak se to umístí do defaultního balíčku
            data-java-package-opened

        - ty opened atd. atributy se asi nebudou dědit - ne všechno se bude dědit, to potom napíšu

        PROJECT FOLDERS
        (root ul element)
            data-project-folders - HOTOVO
        (li)
            data-opened - HOTOVO
            data-java-packages-folder
      -->