<div data-code-box data-project class="u-mb-2">
<ul data-folders>
    <li>
        <span>main</span>
        <ul>
            <li><span data-java-packages-folder>java</span></li>
        </ul>
    </li>
    <li>
        <span>test</span>
    </li>
</ul>
<pre data-code="Test1.java" data-folder="main/java"><code>// test 1</code></pre>
<pre data-code="Test2.java" data-folder="main/java" data-java-package="io.github.jirkasa"><code>// test 2</code></pre>
<pre data-code="Test3.java" data-folder="main/java" data-java-package="io.github.jirkasa"><code>// test 3</code></pre>
<pre data-code="Test4.java" data-folder="main/java" data-java-package="io.github.jirkasa"><code>// test 4</code></pre>
</div>

    <!-- 
        data attributy:
            data-code-box
            data-code=[nazev]
            data-project
            nějak musím vytvořit složky (asi data-folders)
                - asi se to vytvoří podle struktury 
            data-folder (složka, ve které soubor bude) - defaultně bude v root složce
            data-java-package (nastaví se balíček, ve kterém soubor bude) - defaultně žádný (defaultní)
            data-java-packages-folder (automaticky se tam vytvoří příslušné složky)
     -->