<div data-project="7" data-project-extends="5" class="u-mb-2">
    <ul data-project-commands>
        <!-- <li data-command-remove-folder>src/main/java</li> -->
        <!-- <li data-command-remove-file>src/main/java/HelloWorldServlet.java</li> -->
        <!-- <li data-command-remove-file>src/main/java/io/Test.java</li> -->
        <!-- <li data-command-remove-file>pom.xml</li> -->
        <!-- <li data-command-remove-file>HelloWorldServlet.java</li> -->
        <!-- <li data-command-rename-folder="faine">src/main</li> -->
        <li data-command-rename-file="NewName.txt">src/main/java/Test.txt</li>
        <li data-command-open-folder-to-root>src/main/java</li>
        <li data-command-open-java-package></li>
        <li data-command-code-highlight="1-2">Test.txt</li>
        <li data-command-set-active-file>src/main/java/io/Test.java</li>
        <li data-command-create-folder>src/main/a/dd</li>
        <li data-command-create-folder>src/main/d</li>
        <li data-command-create-folder>src/main/b</li>
        <!-- <li data-command-remove-folder>src/main/java</li> -->
    </ul>
    <pre data-code="Test.java" data-java-package="io"><code>// Test.java content</code></pre>
    <pre data-code="Test.txt" data-folder="src/main"><code>// Test.txt content</code></pre>
    <pre data-code="Test.txt" data-folder><code>// Test.txt (root) content</code></pre>
    <pre data-code="Test.txt" data-java-package><code>// Test.txt (root) content</code></pre>
</div>