<div class="code-box code-box--project" class="u-mb-2">
    <div class="code-box-project-panel code-box-project-panel--opened">
        <div class="code-box-project-panel__content">
            <h3 class="code-box-project-panel__heading">Adresářová struktura</h3>
            <button data-hc-control="test1" class="code-box-project-panel__item">
                <div class="code-box-project-panel__item-arrow-icon">
                    <svg>
                        <use xlink:href="./static/icon-sprite.svg#arrow-right"></use>
                    </svg>
                </div>
                <div class="code-box-project-panel__item-icon">
                    <svg>
                        <use xlink:href="./static/icon-sprite.svg#inventory"></use>
                    </svg>
                </div>
                <span>project-1</span>
            </button>
            <div data-hc-content="test1" class="code-box-project-panel__collapsible">
                <button data-hc-control="test2" class="code-box-project-panel__item">
                    <div class="code-box-project-panel__item-arrow-icon">
                        <svg>
                            <use xlink:href="./static/icon-sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                    <div class="code-box-project-panel__item-icon code-box-project-panel__item-icon--folder">
                        <svg>
                            <use xlink:href="./static/icon-sprite.svg#opened-folder"></use>
                        </svg>
                    </div>
                    <span>src</span>
                </button>
                <div data-hc-content="test2" class="code-box-project-panel__collapsible">
                    <button data-hc-control="test4" class="code-box-project-panel__item">
                        <div class="code-box-project-panel__item-arrow-icon">
                            <svg>
                                <use xlink:href="./static/icon-sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                        <div class="code-box-project-panel__item-icon code-box-project-panel__item-icon--folder">
                            <svg>
                                <use xlink:href="./static/icon-sprite.svg#opened-folder"></use>
                            </svg>
                        </div>
                        <span>main</span>
                    </button>
                    <div data-hc-content="test4" class="code-box-project-panel__collapsible">
                        <button class="code-box-project-panel__item">
                            <div class="code-box-project-panel__item-icon code-box-project-panel__item-icon--file">
                                <svg>
                                    <use xlink:href="./static/icon-sprite.svg#file"></use>
                                </svg>
                            </div>
                            <span>Something.java</span>
                        </button>
                        <button class="code-box-project-panel__item">
                            <div class="code-box-project-panel__item-icon code-box-project-panel__item-icon--file">
                                <svg>
                                    <use xlink:href="./static/icon-sprite.svg#file"></use>
                                </svg>
                            </div>
                            <span>Square.java</span>
                        </button>
                    </div>
                </div>
                <button data-hc-control="test3" class="code-box-project-panel__item">
                    <div class="code-box-project-panel__item-arrow-icon">
                        <svg>
                            <use xlink:href="./static/icon-sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                    <div class="code-box-project-panel__item-icon code-box-project-panel__item-icon--folder">
                        <svg>
                            <use xlink:href="./static/icon-sprite.svg#opened-folder"></use>
                        </svg>
                    </div>
                    <span>test</span>
                </button>
                <div data-hc-content="test3" class="code-box-project-panel__collapsible">
                </div>
                <button class="code-box-project-panel__item">
                    <div class="code-box-project-panel__item-icon code-box-project-panel__item-icon--file">
                        <svg>
                            <use xlink:href="./static/icon-sprite.svg#file"></use>
                        </svg>
                    </div>
                    <span>pom.xml</span>
                </button>
            </div>
            <hr class="code-box-project-panel__horizontal-rule">
            <h3 class="code-box-project-panel__heading">Java balíčky</h3>
        </div>
        <button class="code-box-project-panel__toggle-button">
            Otevří/Zavřít boční panel
            <svg>
                <use xlink:href="./static/icon-sprite.svg#double-arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="code-box__code">
        <div class="code-box__line-numbers code-box__line-numbers--project">
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
        </div>
        <div class="code-box__code-container">
            <pre><code>// test 1
// test 1
// test 1
// test 1
// test 1ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1
// test 1</code></pre>
        </div>
    </div>
</div>