<div data-project="8" data-project-extends="7" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-set-java-packages-folder>src/main/resources</li>
    </ul>
    <pre data-code="Something.java" data-java-package="io"><code></code></pre>
</div>