<div data-slider class="splide u-mb-4" role="group" aria-label="Instalace Tomcatu">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../static/img/sliders/tomcat-installation/tomcat-installation-part1.png" alt="Instalace Tomcatu - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřeme si oficiální webové stránky Tomcatu: <a href="https://tomcat.apache.org/" target="_blank" class="link">https://tomcat.apache.org/</a>.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../static/img/sliders/tomcat-installation/tomcat-installation-part2.png" alt="Instalace Tomcatu - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V části download vybereme Tomcat 9. Pokud chcete, tak si můžete stáhnout třeba i novější Tomcat 10 ale ten narozdíl od Java EE implementuje již Jakarta EE. Balíčky jsou tedy přejmenované z javax.* na jakarta.*. Je to proto, že Java EE se od Oracle přesunula pod Eclipse Foundation a časem také došlo k jejímu přejmenování na Jakarta EE. Více si o historii Javy EE můžete přečíst třeba <a href="https://www.baeldung.com/java-enterprise-evolution" target="_blank" class="link">zde</a>.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part3.png" alt="Instalace Tomcatu - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevře se nám stránka, kde můžeme Tomcat 9 stáhnout.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part4.png" alt="Instalace Tomcatu - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Zascrollujeme na stránce trochu dolů a stáhneme si instalační balíček, jak ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part5.png" alt="Instalace Tomcatu - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Instalační balíček si spustíme. Vyskočí na nás okno, které se zeptá, jestli aplikaci povolíme aby na našem zařízení mohla provádět změny. Vybereme "Ano".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part6.png" alt="Instalace Tomcatu - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Poté se nám zobrazí uvítací stránka instalační aplikace. Můžeme kliknout na tlačítko "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part7.png" alt="Instalace Tomcatu - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Souhlasíme s licenčními podmínkami kliknutím na tlačítko "I Agree".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part8.png" alt="Instalace Tomcatu - část 8" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V následující části si můžeme zvolit co všechno chceme nainstalovat. Můžeme vybrat že chceme všechno.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part9.png" alt="Instalace Tomcatu - část 9" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Na této stránce můžeme zvolit port, na kterém bude Tomcat běžet a také nastavit uživatelské jméno a heslo. Port můžete nechat 8080 a uživatelské jméno a heslo můžete nastavit obě třeba na "admin".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part10.png" alt="Instalace Tomcatu - část 10" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Teď musíme nastavit cestu k JRE. To se nám nainstalovalo společně s JDK. Takže k němu zadejte cestu a klikněte na "Next".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part11.png" alt="Instalace Tomcatu - část 11" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V této části můžeme nastavit, kam se má Tomcat nainstalovat. Můžete to změnit nebo nechat defaultní cestu a kliknout na "Install".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part12.png" alt="Instalace Tomcatu - část 12" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Chvíli počkáme, než se nám Tomcat nainstaluje.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part13.png" alt="Instalace Tomcatu - část 13" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po instalaci můžeme odškrtnout, že nechceme zobrazit Readme a kliknout na "Finish".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part14.png" alt="Instalace Tomcatu - část 14" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Tomcat se nám hned spustí.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part15.png" alt="Instalace Tomcatu - část 15" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Když v pravé části hlavního panelu klikneme na rozbalovací šipku, tak uvidíme, že nám pro Tomcat přibyla nová ikona.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part16.png" alt="Instalace Tomcatu - část 16" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Pokud v prohlížeči navštívíme URL <a href="http://localhost:8080/" target="_blank" class="link">http://localhost:8080/</a>, tak by se nám měla zobrazit stránka, kterou ukazuje obrázek. Tomcat se nám úspěšně nainstaloval a spustil.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part17.png" alt="Instalace Tomcatu - část 17" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Pokud na Tomcat ikonu klikneme a vybereme "Configure...", tak se nám zobrazí okno, kde můžeme Tomcat konfigurovat.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/tomcat-installation/tomcat-installation-part18.png" alt="Instalace Tomcatu - část 18" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Jelikož budeme Tomcat spouštět přímo v IDE, tak jej můžeme prozatím vypnout kliknutím na tlačítko "Stop", jak ukazuje obrázek.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>