.home-intro-section {
    height: ~"calc(100vh - @{header-height})";
    max-height: 90rem;
    min-height: 47rem;

    background-color: @colors[grey-20];
    background-image: linear-gradient(0deg, rgba(@colors[black], 0.60) 0%, rgba(@colors[black], 0.60) 100%), url("../../css-images/IntroBackgroundImage.jpg");
    background-size: cover;
    background-position: center;

    padding: 3.2rem @grid-padding;

    position: relative;

    @media (max-width: @grid-padding-small-breakpoint) {
        padding-left: @grid-padding-small;
        padding-right: @grid-padding-small;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: url("../../css-images/IntroSectionPattern.svg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: right;

        @media (max-width: #pxToEm(1350)[]) {
            display: none;
        }
    }
    &::before {
        transform: rotate(180deg);
    }

    &__content {
        display: flex;
        max-width: @grid-width;
        margin: 0 auto;
        height: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;

        text-align: center;

        position: relative;
        z-index: 10;
    }

    &__horizontal-rule {
        width: 16rem;
        height: .4rem;
        margin: 0 auto;
        
        border-radius: .2rem;
        border: none;
        background-color: @colors[analogic-2-light];
    }

    &__intro-text-container {
        #display-12-grid();

        @media (max-width: @grid-no-gutter-breakpoint) {
            column-gap: 0;
        }
    }

    &__intro-text {
        font-size: 2rem;
        line-height: 2.8rem;

        color: @colors[white];
        text-align: center;

        grid-column: 4 / span 6;

        @media (max-width: #pxToEm(1150)[]) {
            grid-column: 3 / span 8;
        }
        @media (max-width: #pxToEm(750)[]) {
            grid-column: 2 / span 10;
        }
        @media (max-width: #pxToEm(750)[]) {
            grid-column: span 12;
        }
    }

    &__buttons-container {
        display: flex;
        gap: 1.6rem;
    }
}

.home-section {
    padding: 3.2rem @grid-padding;

    @media (max-width: @grid-padding-small-breakpoint) {
        padding-left: @grid-padding-small;
        padding-right: @grid-padding-small;
    }

    &--grey-background {
        background-color: @colors[grey-20];
    }

    &__container {
        max-width: @grid-width;
        margin: 0 auto;
    }

    &__intro-text {
        #display-12-grid();
        text-align: center;

        @media (max-width: @grid-no-gutter-breakpoint) {
            column-gap: 0;
        }

        > * {
            grid-column: 3 / span 8;

            @media (max-width: #pxToEm(1130)[]) {
                grid-column: 2 / span 10;
            }
            @media (max-width: #pxToEm(750)[]) {
                grid-column: span 12;
            }
        }
    }
}

.home-about-layout {
    #display-12-grid();

    @media (max-width: @grid-no-gutter-breakpoint) {
        column-gap: 0;
    }

    &__content {
        grid-column: span 7;

        @media (max-width: #pxToEm(800)[]) {
            grid-column: span 12;
        }
    }

    &__image {
        grid-column: span 5;

        @media (max-width: #pxToEm(800)[]) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}

.home-other-tutorials-layout {
    #display-12-grid();

    @media (max-width: @grid-no-gutter-breakpoint) {
        column-gap: 0;
    }

    > * {
        grid-column: span 6;

        @media (max-width: #pxToEm(1100)[]) {
            grid-column: span 12;
        }
    }
}