<div data-project="25" data-project-extends="24" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend</li>
    </ul>
    <pre data-code="tsconfig.json" data-folder="frontend" data-active><code class="language-json">{
    "include": ["ts"],
    "compilerOptions": {
        "outDir": "../backend/src/main/webapp/assets",
        "sourceMap": true,
        "module": "ES6",
        "target": "ES5",
        "allowJs": true,
        "moduleResolution": "node",
        "strict": true
    }
}</code></pre>
</div>