<div data-project="2" data-project-extends="1" class="u-mb-4">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend</li>
    </ul>
    <pre data-code="package.json" data-folder="frontend" data-active><code class="language-json">{
    "name": "frontend",
    "version": "1.0.0",
    "description": "",
    "main": "index.js",
    "scripts": {
        "test": "echo \"Error: no test specified\" && exit 1"
    },
    "keywords": [],
    "author": "",
    "license": "ISC"
}</code></pre>
</div>