<div data-project="23" data-project-extends="22" class="u-mb-4">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>backend/src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="HomePage.jsp" data-folder="backend/src/main/webapp/WEB-INF/jsp" data-active data-code-highlight="8"><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Ukázková aplikace&lt;/title&gt;
    
    &lt;link rel="stylesheet" href="./assets/css/style.css" /&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="page"&gt;
        &lt;h1 class="heading-primary u-text-center u-mb-4"&gt;Vítejte&lt;/h1&gt;
        &lt;p class="paragraph u-text-center u-mb-4"&gt;Na tomto webu se nachází kalkulačka, ke které se dostanete kliknutím na následující tlačítko.&lt;/p&gt;
        &lt;div class="u-text-center"&gt;
            &lt;a href="./kalkulacka" class="button-primary"&gt;Otevřít kalkulačku&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre></pre>
</div>