<div data-project="35" data-project-extends="34" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend/less</li>
    </ul>
    <pre data-code="main.less" data-folder="frontend/less" data-active data-code-highlight="11"><code class="language-less">@import "./abstracts/variables.less";

@import "./base/base.less";
@import "./base/typography.less";
@import "./base/utilities.less";

@import "./layout/page.less";

@import "./components/button-primary.less";
@import "./components/calculator.less";
@import "./components/icons-container.less";</code></pre>
</div>