<div data-project="36" data-project-extends="35" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>frontend/icons</li>
        <li data-command-open-folder-to-root>frontend/icons</li>
    </ul>
    <pre data-code="main.js" data-folder="frontend/icons" data-active><code class="language-javascript">import "./calculator.svg";
import "./cool.svg";
import "./happy.svg";</code></pre>
    <div data-file="../../static/download/integrace-webpacku/calculator.svg" data-folder="frontend/icons">calculator.svg</div>
    <div data-file="../../static/download/integrace-webpacku/cool.svg" data-folder="frontend/icons">cool.svg</div>
    <div data-file="../../static/download/integrace-webpacku/happy.svg" data-folder="frontend/icons">happy.svg</div>
</div>