<div data-project="29" data-project-extends="28" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>backend/src/main/webapp/assets/js</li>
        <li data-command-open-folder-to-root>backend/src/main/webapp/assets/js</li>
    </ul>
    <pre data-code="calculator.js" data-folder="backend/src/main/webapp/assets/js" data-active><code class="language-javascript">(()=>{"use strict";const t=function(){function t(t,n,e){var u=this;this.inputElement1=t,this.inputElement2=n,this.resultElement=e,t.addEventListener("input",(function(){return u.onInputChange()})),n.addEventListener("input",(function(){return u.onInputChange()}))}return t.prototype.onInputChange=function(){var t=(Number.parseFloat(this.inputElement1.value)||0)+(Number.parseFloat(this.inputElement2.value)||0);this.resultElement.innerText=t.toString()},t}();var n=document.getElementById("Input1"),e=document.getElementById("Input2"),u=document.getElementById("ResultContainer");n&&e&&u&&new t(n,e,u)})();</code></pre>
</div>