<div data-project="16" data-project-extends="15" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend/less/components</li>
    </ul>
    <pre data-code="calculator.less" data-folder="frontend/less/components" data-active><code class="language-less">.calculator {
    display: flex;
    align-items: center;
    gap: .4rem;

    font-size: 2rem;

    &__input {
        font-family: inherit;
        font-size: 1.6rem;
        line-height: 2rem;

        background-color: @colors[white];
        color: @colors[grey-80];
        border: .2rem solid @colors[grey-60];

        width: 8rem;
        padding: .4rem .8rem;
    }

    &__sign {
        color: @colors[grey-60];
    }

    &__result {
        font-weight: 700;

        color: @colors[primary];
    }
}</code></pre>
</div>