<div data-project="11" data-project-extends="10" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>frontend/less/base</li>
        <li data-command-open-folder-to-root>frontend/less/base</li>
    </ul>
    <pre data-code="base.less" data-folder="frontend/less/base" data-active><code class="language-less">*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 3.2rem;
}</code></pre>
</div>