<div data-project="17" data-project-extends="16" class="u-mb-4">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend/less</li>
    </ul>
    <pre data-code="main.less" data-folder="frontend/less" data-active><code class="language-less">@import "./abstracts/variables.less";

@import "./base/base.less";
@import "./base/typography.less";
@import "./base/utilities.less";

@import "./layout/page.less";

@import "./components/button-primary.less";
@import "./components/calculator.less";</code></pre>
</div>