<div data-project="27" data-project-extends="26" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend/ts</li>
    </ul>
    <pre data-code="main.ts" data-folder="frontend/ts" data-active><code class="language-typescript">import Calculator from "./Calculator";

const input1 = document.getElementById("Input1") as HTMLInputElement;
const input2 = document.getElementById("Input2") as HTMLInputElement;
const resultContainer = document.getElementById("ResultContainer");

if (input1 && input2 && resultContainer) {
    new Calculator(input1, input2, resultContainer);
}</code></pre>
</div>