<div data-project="34" data-project-extends="33" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend/less/components</li>
    </ul>
    <pre data-code="icons-container.less" data-folder="frontend/less/components" data-active><code class="language-less">.icons-container {
    display: flex;
    justify-content: center;
    gap: 1.6rem;

    > svg {
        width: 3.2rem;
        height: 3.2rem;
        fill: @colors[primary];
    }
}</code></pre>
</div>