<div data-project="30" data-project-extends="29" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>backend/src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="CalculatorPage.jsp" data-folder="backend/src/main/webapp/WEB-INF/jsp" data-active data-code-highlight="21"><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Ukázková aplikace&lt;/title&gt;
    
    &lt;link rel="stylesheet" href="./assets/css/style.css" /&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="page"&gt;
        &lt;h1 class="heading-primary u-text-center u-mb-2"&gt;Kalkulačka&lt;/h1&gt;
        &lt;div class="calculator"&gt;
            &lt;input id="Input1" type="number" class="calculator__input"&gt;
            &lt;span class="calculator__sign"&gt;+&lt;/span&gt;
            &lt;input id="Input2" type="number" class="calculator__input"&gt;
            &lt;span class="calculator__sign"&gt;=&lt;/span&gt;
            &lt;span id="ResultContainer" class="calculator__result"&gt;0&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;script src="./assets/js/calculator.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre></pre>
</div>