<div data-project="15" data-project-extends="14" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>frontend/less/components</li>
        <li data-command-open-folder-to-root>frontend/less/components</li>
    </ul>
    <pre data-code="button-primary.less" data-folder="frontend/less/components" data-active><code class="language-less">.button-primary {
    &:link, &:visited {
        display: inline-block;

        font-size: 1.6rem;
        line-height: 1.6rem;
        text-decoration: none;

        background-color: @colors[primary];
        color: @colors[white];

        padding: 1.2rem 1.6rem;
    }
}</code></pre>
</div>