<div data-project="31" data-project-extends="30" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend/less/base</li>
        <li data-command-create-folder>frontend/static/img</li>
        <li data-command-open-folder-to-root>frontend/static/img</li>
    </ul>
    <pre data-code="base.less" data-folder="frontend/less/base" data-active data-code-highlight="16-17"><code class="language-less">*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 3.2rem;

    background-image: linear-gradient(rgba(@colors[black], .4), rgba(@colors[black], .4)), url(../../static/img/background.jpg);
    background-size: cover;
}</code></pre>
    <div data-file="../../static/download/integrace-webpacku/background.jpg" data-folder="frontend/static/img">background.jpg</div>
</div>