<div data-project="10" data-project-extends="9" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>frontend/less/abstracts</li>
        <li data-command-open-folder-to-root>frontend/less/abstracts</li>
    </ul>
    <pre data-code="variables.less" data-folder="frontend/less/abstracts" data-active><code class="language-less">@colors: {
    primary: #E54C47;
    primary-light: #FF6E69;
    primary-dark: #992420;

    black: #000;
    grey-80: #1E1C1C;
    grey-60: #6A6666;
    grey-40: #BDB4B3;
    grey-20: #F0E9E9;
    white: #FFF;
}</code></pre>
</div>