<div data-project="12" data-project-extends="11" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>frontend/less/base</li>
    </ul>
    <pre data-code="typography.less" data-folder="frontend/less/base" data-active><code class="language-less">body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading-primary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    color: @colors[grey-80];
}

.paragraph {
    font-size: 1.6rem;
    line-height: 2.4rem;

    color: @colors[grey-60];
}</code></pre>
</div>