<div data-project="17" data-project-extends="16" class="u-mb-2">
    <pre data-code="KontaktDBUtil.java" data-java-package data-java-package-opened data-active data-code-highlight="22-43"><code class="language-java">import java.sql.Connection;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Statement;
import java.util.ArrayList;
import java.util.List;

import javax.sql.DataSource;

public class KontaktDBUtil {
    private Connection conn;
    
    public KontaktDBUtil(DataSource dataSource) {
        try {
            conn = dataSource.getConnection();
        } catch (SQLException e) {
            System.out.println(e);
        }
    }
    
    public List&lt;Kontakt&gt; getAll() {
        ArrayList&lt;Kontakt&gt; kontakty = new ArrayList&lt;Kontakt&gt;();
        try {
            Statement statement = conn.createStatement();
            ResultSet rs = statement.executeQuery("SELECT * FROM kontakty");
            
            while (rs.next()) {
                Kontakt kontakt = new Kontakt();
                kontakt.setId(rs.getInt("id"));
                kontakt.setJmeno(rs.getString("jmeno"));
                kontakt.setPrijmeni(rs.getString("prijmeni"));
                kontakt.setTelefon(rs.getString("telefon"));
                kontakty.add(kontakt);
            }
            
            statement.close();
            rs.close();
        } catch(SQLException e) {
            System.out.println(e);
        }
        return kontakty;
    }
    
    public void add(Kontakt kontakt) {
        try {
            PreparedStatement statement = conn.prepareStatement("INSERT INTO kontakty (jmeno, prijmeni, telefon) VALUES (?, ?, ?)");
            
            statement.setString(1, kontakt.getJmeno());
            statement.setString(2, kontakt.getPrijmeni());
            statement.setString(3, kontakt.getTelefon());
            
            statement.execute();
            
            statement.close();
        } catch (SQLException e) {
            System.out.println(e);
        }
    }
    
    public void close() {
        try {
            conn.close();
        } catch(SQLException e) {
            System.out.println(e);
        }
    }
}</code></pre>
</div>