<div data-project="8" data-project-extends="7" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>src/main/webapp/META-INF</li>
        <li data-command-open-folder-to-root>src/main/webapp/META-INF</li>
    </ul>
    <pre data-code="context.xml" data-folder="src/main/webapp/META-INF" data-active><code class="language-xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;Context&gt;
    &lt;Resource name="jdbc/kontakty" auth="Container" type="javax.sql.DataSource"
        maxActive="20" maxIdle="5" maxWaitMillis="10000"
        username="root" password="admin"
        driverClassName="com.mysql.cj.jdbc.Driver"
        url="jdbc:mysql://localhost:3306/kontakty_app"/&gt;
&lt;/Context&gt;</code></pre>
</div>