<div data-project="3" data-project-extends="2" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>src/main/webapp/WEB-INF/jsp</li>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="Home.jsp" data-folder="src/main/webapp/WEB-INF/jsp" data-active><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Práce s databází&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Vítej v aplikaci. Co chceš udělat?&lt;/p&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href="./kontakty"&gt;Zobrazit kontakty&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="./vytvorit-kontakt"&gt;Vytvořit nový kontakt&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="./odstranit-kontakt"&gt;Odstranit kontakt&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>