<div data-project="26" data-project-extends="25" class="u-mb-2">
    <pre data-code="KontaktDBUtil.java" data-java-package data-java-package-opened data-active data-code-highlight="86-103"><code class="language-java">import java.sql.Connection;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Statement;
import java.util.ArrayList;
import java.util.List;

import javax.sql.DataSource;

public class KontaktDBUtil {
    private Connection conn;
    
    public KontaktDBUtil(DataSource dataSource) {
        try {
            conn = dataSource.getConnection();
        } catch (SQLException e) {
            System.out.println(e);
        }
    }
    
    public List&lt;Kontakt&gt; getAll() {
        ArrayList&lt;Kontakt&gt; kontakty = new ArrayList&lt;Kontakt&gt;();
        try {
            Statement statement = conn.createStatement();
            ResultSet rs = statement.executeQuery("SELECT * FROM kontakty");
            
            while (rs.next()) {
                Kontakt kontakt = new Kontakt();
                kontakt.setId(rs.getInt("id"));
                kontakt.setJmeno(rs.getString("jmeno"));
                kontakt.setPrijmeni(rs.getString("prijmeni"));
                kontakt.setTelefon(rs.getString("telefon"));
                kontakty.add(kontakt);
            }
            
            statement.close();
            rs.close();
        } catch(SQLException e) {
            System.out.println(e);
        }
        return kontakty;
    }
    
    public Kontakt get(int id) {
        try {
            PreparedStatement statement = conn.prepareStatement("SELECT * FROM kontakty WHERE id = ?");
            
            statement.setInt(1, id);
            
            ResultSet rs = statement.executeQuery();
            
            if (rs.next()) {
                Kontakt kontakt = new Kontakt();
                kontakt.setId(rs.getInt("id"));
                kontakt.setJmeno(rs.getString("jmeno"));
                kontakt.setPrijmeni(rs.getString("prijmeni"));
                kontakt.setTelefon(rs.getString("telefon"));
                return kontakt;
            }
            
            statement.close();
            rs.close();
        } catch(SQLException e) {
            System.out.println(e);
        }
        return null;
    }
    
    public void add(Kontakt kontakt) {
        try {
            PreparedStatement statement = conn.prepareStatement("INSERT INTO kontakty (jmeno, prijmeni, telefon) VALUES (?, ?, ?)");
            
            statement.setString(1, kontakt.getJmeno());
            statement.setString(2, kontakt.getPrijmeni());
            statement.setString(3, kontakt.getTelefon());
            
            statement.execute();
            
            statement.close();
        } catch (SQLException e) {
            System.out.println(e);
        }
    }
    
    public boolean update(int id, String jmeno, String prijmeni, String telefon) {
        int updatedCount = 0;
        try {
            PreparedStatement statement = conn.prepareStatement("UPDATE kontakty SET jmeno = ?, prijmeni = ?, telefon = ? WHERE id = ?");
            
            statement.setString(1, jmeno);
            statement.setString(2, prijmeni);
            statement.setString(3, telefon);
            statement.setInt(4, id);
            
            updatedCount = statement.executeUpdate();
            
            statement.close();
        } catch(SQLException e) {
            System.out.println(e);
        }
        return updatedCount &gt; 0;
    }
    
    public void close() {
        try {
            conn.close();
        } catch(SQLException e) {
            System.out.println(e);
        }
    }
}</code></pre>
</div>