<div data-project="23" data-project-extends="22" class="u-mb-4">
    <pre data-code="EditContactServlet.java" data-java-package data-java-package-opened data-active><code class="language-java">import java.io.IOException;

import javax.annotation.Resource;
import javax.servlet.RequestDispatcher;
import javax.servlet.ServletException;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import javax.sql.DataSource;

public class EditContactServlet extends HttpServlet {
    @Resource(name="jdbc/kontakty")
    private DataSource dataSource;

    @Override
    protected void doGet(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        int id = Integer.parseInt(req.getParameter("id"));
        
        KontaktDBUtil dbUtil = new KontaktDBUtil(dataSource);
        Kontakt kontakt = dbUtil.get(id);
        dbUtil.close();
        
        if (kontakt != null) {
            req.setAttribute("kontakt", kontakt);
            RequestDispatcher dispatcher = req.getRequestDispatcher("WEB-INF/jsp/EditContact.jsp");
            dispatcher.forward(req, res);			
        } else {
            req.setAttribute("zprava", "Kontakt nebyl nalezen.");
            req.setAttribute("odkaz", "./");
            RequestDispatcher dispatcher = req.getRequestDispatcher("WEB-INF/jsp/Message.jsp");
            dispatcher.forward(req, res);
        }
    }
}</code></pre>
</div>