<div data-slider class="splide u-mb-4" role="group" aria-label="Vytvoření databáze s tabulkou kontakty v MySQL">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/mysql-create-database-for-project/mysql-create-database-for-project-part1.png" alt="Vytvoření databáze s tabulkou kontakty v MySQL - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Spustíme si MySQL klienta příkazového řádku.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../../static/img/sliders/mysql-create-database-for-project/mysql-create-database-for-project-part2.png" alt="Vytvoření databáze s tabulkou kontakty v MySQL - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po spuštění zadáme heslo, které jsme při instalaci MySQL serveru nastavili.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-create-database-for-project/mysql-create-database-for-project-part3.png" alt="Vytvoření databáze s tabulkou kontakty v MySQL - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Pokud bylo heslo správné, tak jsme se úspěšně přihlásili.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-create-database-for-project/mysql-create-database-for-project-part4.png" alt="Vytvoření databáze s tabulkou kontakty v MySQL - část 4" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Vytvoříme databázi, kterou můžeme pojmenovat jako "kontakty_app" příkazem "CREATE DATABASE kontakty_app;".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-create-database-for-project/mysql-create-database-for-project-part5.png" alt="Vytvoření databáze s tabulkou kontakty v MySQL - část 5" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Vytvořenou databázi začneme používat příkazem "USE kontakty_app;".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-create-database-for-project/mysql-create-database-for-project-part6.png" alt="Vytvoření databáze s tabulkou kontakty v MySQL - část 6" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Vytvoříme tabulku "kontakty" příkazem, který si můžete zkopírovat z ukázky níže (pro vložení můžete použít pravé tlačítko myši).</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../../static/img/sliders/mysql-create-database-for-project/mysql-create-database-for-project-part7.png" alt="Vytvoření databáze s tabulkou kontakty v MySQL - část 7" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Pokud se nám tabulka úspěšně vytvořila, tak si můžeme zobrazit její popis příkazem "DESC kontakty".</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>