<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code="FilterExample.java"><code>import javax.servlet.ServletRequest;
import javax.servlet.ServletResponse;
import javax.servlet.Filter;
import javax.servlet.FilterChain;
import javax.servlet.http.HttpServletRequest;
import java.io.IOException;

public class RequestLoggingFilter implements Filter {
    @Override
    public void doFilter(ServletRequest req, ServletResponse res, FilterChain chain) throws IOException, ServletException {
        // provedení nějaké akce před zpracováním requestu (v tomto případě vypsání IP adresy, ze které byl request poslán)
        String ipAdresa = req.getRemoteAddr();
        String requestUri = ((HttpServletRequest) req).getRequestURI();
        System.out.println("Request obdržen z " + ipAdresa + " pro " + requestUri);

        // poslání requestu pro zpracování do servletu (nebo dalšího filtru v pořadí)
        chain.doFilter(req, res);

        // provedení nějaké akce po zpracování requestu (v tomto případě vypsání response status kódu)
        int statusCode = ((HttpServletResponse) response).getStatus();
        System.out.println("Response status kód: " + statusCode);
    }
}</code></pre>
</div>