<div data-project="11" data-project-extends="10" class="u-mb-2">
    <pre data-code="BlockingFilter.java" data-java-package data-java-package-opened data-active data-code-highlight="12,14-18,26"><code>import java.io.IOException;

import javax.servlet.Filter;
import javax.servlet.FilterChain;
import javax.servlet.FilterConfig;
import javax.servlet.ServletException;
import javax.servlet.ServletRequest;
import javax.servlet.ServletResponse;
import javax.servlet.http.HttpServletResponse;

public class BlockingFilter implements Filter {
    private String errorMessage;
    
    @Override
    public void init(FilterConfig filterConfig) throws ServletException {
        // získání inicializačního parametru
        this.errorMessage = filterConfig.getInitParameter("error_message");
    }
    
    @Override
    public void doFilter(ServletRequest req, ServletResponse res, FilterChain chain) throws IOException, ServletException {
        // castnutí ServletResponse na HttpServletResponse
        HttpServletResponse httpRes = (HttpServletResponse) res;
        
        // poslání chyby se status kódem 403
        httpRes.sendError(HttpServletResponse.SC_FORBIDDEN, this.errorMessage);
    }
}</code></pre>
</div>