<div data-project="10" data-project-extends="9" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF</li>
    </ul>
    <pre data-code="web.xml" data-folder="src/main/webapp/WEB-INF" data-active data-code-highlight="18-21"><code class="language-xml">&lt;web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://Java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0"&gt;
    &lt;servlet&gt;
        &lt;servlet-name&gt;Stranka&lt;/servlet-name&gt;
        &lt;servlet-class&gt;MujServlet&lt;/servlet-class&gt;
    &lt;/servlet&gt;
    &lt;servlet-mapping&gt;
        &lt;servlet-name&gt;Stranka&lt;/servlet-name&gt;
        &lt;url-pattern&gt;/stranka&lt;/url-pattern&gt;
    &lt;/servlet-mapping&gt;
    &lt;filter&gt;
        &lt;filter-name&gt;BlockingFilter&lt;/filter-name&gt;
        &lt;filter-class&gt;BlockingFilter&lt;/filter-class&gt;
        &lt;init-param&gt;
            &lt;param-name&gt;error_message&lt;/param-name&gt;
            &lt;param-value&gt;Přístup k tomuto servletu je zablokovaný.&lt;/param-value&gt;
        &lt;/init-param&gt;
    &lt;/filter&gt;
    &lt;filter-mapping&gt;
        &lt;filter-name&gt;BlockingFilter&lt;/filter-name&gt;
        &lt;url-pattern&gt;/stranka&lt;/url-pattern&gt;
    &lt;/filter-mapping&gt;
&lt;/web-app&gt;</code></pre>
</div>