<div data-project="4" data-project-extends="3" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/resources</li>
    </ul>
    <pre data-code="struts.xml" data-folder="src/main/resources" data-active><code class="language-xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE struts PUBLIC
    "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
    "http://struts.apache.org/dtds/struts-2.5.dtd"&gt;
&lt;struts&gt;
&lt;/struts&gt;</code></pre>
</div>