<div data-project="10" data-project-extends="9" class="u-mb-2">
    <pre data-code="Vysledek.java" data-java-package="io.github.jirkasa" data-java-package-opened data-active data-code-highlight="20-22"><code class="language-java">package io.github.jirkasa;

public class Vysledek {
    private String jmeno;
    private String prijmeni;
    
    public String getJmeno() {
        return jmeno;
    }
    public void setJmeno(String jmeno) {
        this.jmeno = jmeno;
    }
    public String getPrijmeni() {
        return prijmeni;
    }
    public void setPrijmeni(String prijmeni) {
        this.prijmeni = prijmeni;
    }

    public String execute() {
        return "stranka";
    }
}</code></pre>
</div>