<div data-project="3" data-project-extends="2" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-create-folder>src/main/webapp/WEB-INF/jsp</li>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="Home.jsp" data-folder="src/main/webapp/WEB-INF/jsp" data-active><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Struts Framework&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;form action="./vysledek.action" method="POST"&gt;
        &lt;label for="jmeno"&gt;Jméno:&lt;/label&gt; &lt;input type="text" id="jmeno" name="jmeno" /&gt;
        &lt;br&gt;&lt;br&gt;
        &lt;label for="prijmeni"&gt;Příjmení:&lt;/label&gt; &lt;input type="text" id="prijmeni" name="prijmeni" /&gt;
        &lt;br&gt;&lt;br&gt;
        &lt;button&gt;Odeslat&lt;/button&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>