// COLORS
@colors: {
    analogic-1: #FAA033;
    analogic-2: #FABA32;
    analogic-3: #FA5A32;
    analogic-4: #FA7D32;
    analogic-5: #FAD232;

    analogic-2-light: #F8E4B9;
    analogic-2-dark: #795D20;

    black: #000;
    grey-80: #292726;
    grey-60: #5B5854;
    grey-40: #B0ABA6;
    grey-32: #DBD5CD;
    grey-30: #E4DED7;
    grey-20: #F4EFEA;
    white: #fff;
}

// GRID
@grid-width: 112rem;
@grid-gutter: 3.2rem;
@grid-column-width: 6.4rem;
@grid-padding: 3.2rem;
@grid-padding-small: 2.4rem;
@grid-padding-small-breakpoint: #pxToEm(600)[];
@grid-no-gutter-breakpoint: #pxToEm(600)[];

// OTHER
@header-height: 4.8rem;
@slider-arrow-button-size: 4rem;
@slider-arrow-button-size-small: 3.2rem;
@slider-arrow-button-size-breakpoint: #pxToEm(600)[];
@code-box-project-button-size: 3.2rem;
@code-box-project-panel-border-width: .2rem;
@code-box-code-padding: .8rem;
@navigation-breakpoint: #pxToEm(900)[]; // this has to also be changed in TypeScript (ts/common/main.ts)
@header-navigation-height: 4.8rem; // (height of navigation up to @navigation-breakpoint)
@navigation-small-breakpoint: #pxToEm(380)[];
@header-navigation-height-small: 8rem;