<div data-code-box data-no-buttons class="u-mb-6">
<pre data-code="web.xml" data-code-highlight="7-9"><code>&lt;web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://Java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0"&gt;
    &lt;session-config&gt;
        &lt;session-timeout&gt;20&lt;/session-timeout&gt;
    &lt;/session-config&gt;
&lt;/web-app&gt;</code></pre>
</div>