<div data-project="17" data-project-extends="16" class="u-mb-2">
<pre data-code="PridatPolozkuServlet.java" data-java-package data-java-package-opened data-active><code>import java.io.IOException;
import java.io.PrintWriter;

import javax.servlet.ServletException;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

public class PridatPolozkuServlet extends HttpServlet {
    @Override
    protected void doGet(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        res.setContentType("text/html; charset=utf-8");
        try (PrintWriter out = res.getWriter()) {
            out.println("&lt;!DOCTYPE html&gt;");
            out.println("&lt;html&gt;");
            out.println("&lt;head&gt;");
            out.println("&lt;meta charset=\"UTF-8\"&gt;");
            out.println("&lt;title&gt;Tabulka&lt;/title&gt;");
            out.println("&lt;/head&gt;");
            out.println("&lt;body&gt;");
            out.println("&lt;h1&gt;Přidat položku&lt;/h1&gt;");
            out.println("&lt;form action=\"./pridat-polozku\" method=\"POST\"&gt;");
            out.println("&lt;input type=\"text\"/ name=\"polozka\"&gt;");
            out.println("&lt;button&gt;Přidat&lt;/button&gt;");
            out.println("&lt;/form&gt;");
            out.println("&lt;a href=\"./polozky\"&gt;Zpět na tabulku&lt;/a&gt;");
            out.println("&lt;/body&gt;");
            out.println("&lt;/html&gt;");
        }
    }
}</code></pre>
</div>