<div data-project="7" data-project-extends="6" class="u-mb-2">
    <pre data-code="PozdravServlet.java" data-java-package data-java-package-opened data-active data-code-highlight="24-27"><code class="language-java">import java.io.IOException;
import java.io.PrintWriter;

import javax.servlet.ServletException;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

public class PozdravServlet extends HttpServlet {
    @Override
    protected void doPost(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        String jmeno = req.getParameter("jmeno");
        
        res.setContentType("text/html; charset=utf-8");
        try (PrintWriter out = res.getWriter()) {
            out.println("&lt;!DOCTYPE html&gt;");
            out.println("&lt;html&gt;");
            out.println("&lt;head&gt;");
            out.println("&lt;meta charset=\"UTF-8\"&gt;");
            out.println("&lt;title&gt;URL rewriting&lt;/title&gt;");
            out.println("&lt;/head&gt;");
            out.println("&lt;body&gt;");
            out.println("&lt;h1&gt;Ahoj " + jmeno + "&lt;/h1&gt;");
            out.println("&lt;form action=\"./jake-je-jmeno\" method=\"GET\"&gt;");
            out.println("&lt;input type=\"hidden\" name=\"jmeno\" value=\"" + jmeno + "\"&gt;");
            out.println("&lt;button&gt;Jaké je moje jméno?&lt;/button&gt;");
            out.println("&lt;/form&gt;");
            out.println("&lt;/body&gt;");
            out.println("&lt;/html&gt;");
        }
    }
}</code></pre>
    </div>