<div data-project="15" data-project-extends="14" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="ItemsPage.js" data-folder="src/main/webapp" data-active><code class="language-javascript">async function deleteItemById(itemId) {
    try {
        // odeslání requestu pro smázání položky
        await fetch(`./polozky?itemId=${itemId}`, {
            method: "DELETE"
        });
        // obnovení stránky
        location.href = location.href;
    } catch(err) {
        console.log(err);
    }
}</code></pre>
</div>