<div data-project="6" data-project-extends="5" class="u-mb-2">
    <pre data-code="Item.java" data-java-package="io.github.jirkasa.models" data-java-package-opened data-active data-code-highlight="23-28,4-5,7"><code class="language-java">package io.github.jirkasa.models;

import java.io.Serializable;
import java.util.ArrayList;
import java.util.Date;

import javax.servlet.http.HttpSession;

public class Item implements Serializable {
    private String id;
    private String text;
    private Date createdAt;

    public void setId(String id) { this.id = id; }
    public String getId() { return id; }
    
    public void setText(String text) { this.text = text; }
    public String getText() { return text; }
    
    public void setCreatedAt(Date createdAt) { this.createdAt = createdAt; }
    public Date getCreatedAt() { return createdAt; }
    
    public static ArrayList&lt;Item&gt; getAll(HttpSession session) {
        ArrayList&lt;Item&gt; items = (ArrayList&lt;Item&gt;) session.getAttribute("items");
        
        if (items == null) return new ArrayList&lt;Item&gt;();
        return items;
    }
}</code></pre>
</div>