<div data-project="14" data-project-extends="13" class="u-mb-2">
    <pre data-code="ItemsController.java" data-java-package="io.github.jirkasa.controllers" data-java-package-opened data-active data-code-highlight="32-47"><code class="language-java">package io.github.jirkasa.controllers;

import java.io.IOException;
import java.util.ArrayList;

import javax.servlet.RequestDispatcher;
import javax.servlet.ServletException;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import io.github.jirkasa.models.Item;

public class ItemsController extends HttpServlet {
    @Override
    protected void doGet(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        renderItemsPage(req, res);
    }

    @Override
    protected void doPost(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        // je potřeba nastavit kódování, abychom data z formuláře získali ve správném formátu
        req.setCharacterEncoding("UTF-8");
        
        // vytvoření nové položky podle textu z formuláře
        String text = req.getParameter("text");
        Item.create(req.getSession(), text);
        
        renderItemsPage(req, res);
    }
    
    @Override
    protected void doDelete(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        String itemId = req.getParameter("itemId");
        
        // smazání položky podle ID
        boolean success = Item.deleteById(req.getSession(), itemId);
        
        // nastavení status kódu, který se pošle klientovi
        if (success) {
            // položka se smazala
            res.setStatus(200);
        } else {
            // položka se nesmazala (nenašla se)
            res.setStatus(404);
        }
    }

    // zobrazuje stránku "Items.jsp"
    private void renderItemsPage(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        ArrayList&lt;Item&gt; items = Item.getAll(req.getSession());
                
        req.setAttribute("items", items);

        RequestDispatcher dispatcher = req.getRequestDispatcher("WEB-INF/jsp/Items.jsp");
        dispatcher.forward(req, res);
    }
}</code></pre>
</div>