<div data-project="13" data-project-extends="12" class="u-mb-2">
    <pre data-code="Item.java" data-java-package="io.github.jirkasa.models" data-java-package-opened data-active data-code-highlight="49-66"><code class="language-java">package io.github.jirkasa.models;

import java.io.Serializable;
import java.util.ArrayList;
import java.util.Date;
import java.util.UUID;

import javax.servlet.http.HttpSession;

public class Item implements Serializable {
    private String id;
    private String text;
    private Date createdAt;

    public void setId(String id) { this.id = id; }
    public String getId() { return id; }
    
    public void setText(String text) { this.text = text; }
    public String getText() { return text; }
    
    public void setCreatedAt(Date createdAt) { this.createdAt = createdAt; }
    public Date getCreatedAt() { return createdAt; }
    
    public static ArrayList&lt;Item&gt; getAll(HttpSession session) {
        ArrayList&lt;Item&gt; items = (ArrayList&lt;Item&gt;) session.getAttribute("items");
        
        if (items == null) return new ArrayList&lt;Item&gt;();
        return items;
    }
    
    public static Item create(HttpSession session, String text) {
        ArrayList&lt;Item&gt; items = (ArrayList&lt;Item&gt;) session.getAttribute("items");
        
        if (items == null) {
            items = new ArrayList&lt;Item&gt;();
            session.setAttribute("items", items);
        }
        
        Item item = new Item();
        item.setId(UUID.randomUUID().toString());
        item.setText(text);
        item.setCreatedAt(new Date());
        
        items.add(item);
        
        return item;
    }
    
    public static boolean deleteById(HttpSession session, String id) {
    	ArrayList&lt;Item&gt; items = (ArrayList&lt;Item&gt;) session.getAttribute("items");
    	
    	if (items == null) return false;
    	
    	int itemIdx = -1;
    	for (int i = 0; i &lt; items.size(); i++) {
    		if (items.get(i).id.equals(id)) {
    			itemIdx = i;
    			break;
    		}
    	}
    	
    	if (itemIdx == -1) return false;
    	
    	items.remove(itemIdx);
    	return true;
    }
}</code></pre>
</div>