<div data-project="12" data-project-extends="11" class="u-mb-2">
    <pre data-code="ItemsController.java" data-java-package="io.github.jirkasa.controllers" data-java-package-opened data-active data-code-highlight="17,20-30,32-40"><code class="language-java">package io.github.jirkasa.controllers;

import java.io.IOException;
import java.util.ArrayList;

import javax.servlet.RequestDispatcher;
import javax.servlet.ServletException;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import io.github.jirkasa.models.Item;

public class ItemsController extends HttpServlet {
    @Override
    protected void doGet(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        renderItemsPage(req, res);
    }

    @Override
    protected void doPost(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        // je potřeba nastavit kódování, abychom data z formuláře získali ve správném formátu
        req.setCharacterEncoding("UTF-8");
        
        // vytvoření nové položky podle textu z formuláře
        String text = req.getParameter("text");
        Item.create(req.getSession(), text);
        
        renderItemsPage(req, res);
    }
    
    // zobrazuje stránku "Items.jsp"
    private void renderItemsPage(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException {
        ArrayList&lt;Item&gt; items = Item.getAll(req.getSession());
                
        req.setAttribute("items", items);

        RequestDispatcher dispatcher = req.getRequestDispatcher("WEB-INF/jsp/Items.jsp");
        dispatcher.forward(req, res);
    }
}</code></pre>
</div>