<div data-project="10" data-project-extends="9" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp/WEB-INF/jsp</li>
    </ul>
    <pre data-code="Items.jsp" data-folder="src/main/webapp/WEB-INF/jsp" data-active data-code-highlight="45-49"><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %&gt;
&lt;%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %&gt;
&lt;%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;MVC Vzor&lt;/title&gt;
    
    &lt;style&gt;
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;table&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th colspan="3"&gt;Položky&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;c:choose&gt;
                &lt;c:when test="${fn:length(items) &gt; 0}"&gt;
                    &lt;c:forEach var="item" items="${items}"&gt;
                        &lt;tr&gt;
                            &lt;td&gt;&lt;fmt:formatDate value="${item.createdAt}" type="BOTH" /&gt;&lt;/td&gt;
                            &lt;td&gt;&lt;c:out value="${item.text}" /&gt;&lt;/td&gt;
                            &lt;td&gt;&lt;button&gt;Smazat&lt;/button&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/c:forEach&gt;
                &lt;/c:when&gt;
                &lt;c:otherwise&gt;
                    &lt;tr&gt;
                        &lt;td colspan="3"&gt;Momentálně nemáš vytvořené žádné položky.&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/c:otherwise&gt;
            &lt;/c:choose&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
    &lt;br&gt;
    &lt;form action="./polozky" method="POST"&gt;
        &lt;input type="text" name="text" /&gt;
        &lt;button&gt;Přidat&lt;/button&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>