.header {
    height: @header-height;

    &__container {
        width: 100%;
        height: @header-height;

        background-color: @colors[grey-80];
        padding: 0 @grid-padding;
    }

    &__content {
        height: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__home-link {
        &:link, &:visited {
            display: flex;
            align-items: center;
            gap: .8rem;
    
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 3.2rem;
            text-transform: uppercase;
            text-decoration: none;
    
            color: @colors[analogic-1];
        }
    }

    &__navigation {
        > ul {
            display: flex;
            gap: 2.4rem;
    
            list-style: none;
        }
    }

    &__navigation-link {
        &:link, &:visited {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 3.2rem;
            text-decoration: none;
    
            color: @colors[white];

            transition: all .2s;
        }

        &--active, &:hover {
            &:link, &:visited {
                color: @colors[analogic-2];
            }
        }
    }
}