.tutorial-page-layout {
    padding: 0 @grid-padding;

    @media (max-width: @grid-padding-small-breakpoint) {
        padding-left: @grid-padding-small;
        padding-right: @grid-padding-small;
    }

    &__container {
        max-width: @grid-width;
        margin: 0 auto;
        
        display: grid;
        grid-template-columns: repeat(11, minmax(0, 1fr)) @grid-column-width;
        gap: @grid-gutter;

        background-image: url("../../css-images/Pattern.svg");
        background-size: @grid-column-width;
        background-position: top 0 right 0;
        background-repeat: repeat-y;

        @media (max-width: #pxToEm(1150)[]) {
            background-image: none;
            grid-template-columns: repeat(12, minmax(0, 1fr));
        }
        @media (max-width: #pxToEm(900)[]) {
            background-image: url("../../css-images/Pattern.svg");
            grid-template-columns: repeat(11, minmax(0, 1fr)) @grid-column-width;
        }
        @media (max-width: #pxToEm(700)[]) {
            background-image: none;
            grid-template-columns: repeat(12, minmax(0, 1fr));
        }
        @media (max-width: @grid-no-gutter-breakpoint) {
            column-gap: 0;
        }
    }

    &__navigation-side {
        grid-column: span 3;

        background-color: @colors[grey-20];

        @media (max-width: #pxToEm(1150)[]) {
            grid-column: span 4;
        }
        @media (max-width: @navigation-breakpoint) {
            position: fixed;
            top: @header-height + @header-navigation-height;
            left: 0;
            z-index: 300;

            width: 100%;
            height: ~"calc(100vh - @{header-height} - @{header-navigation-height})";

            transform: translateX(-100%);

            transition: all .2s;

            &--opened {
                transition: all .2s .2s;
                transform: translateX(0);
            }
        }
        @media (max-width: @navigation-small-breakpoint) {
            top: @header-height + @header-navigation-height-small;
            height: ~"calc(100vh - @{header-height} - @{header-navigation-height-small})";
        }
    }

    &__content {
        grid-column: span 8;
        padding: 3.2rem 0;
        
        @media (max-width: @navigation-breakpoint) {
            grid-column: span 11;
        }
        @media (max-width: #pxToEm(700)[]) {
            grid-column: span 12;
        }
    }
}