<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- samouzavírací tag --&gt;
&lt;jsp:nazev atribut="hodnota" /&gt;

&lt;!-- tag s uzavíracím tagem --&gt;
&lt;jsp:nazev atribut="hodnota"&gt;
    nějaký obsah
&lt;/jsp:nazev&gt;</code></pre>
</div>