<div data-project="8" data-project-extends="7" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="vysledek.jsp" data-folder="src/main/webapp" data-active data-code-highlight="23"><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8" %&gt;

&lt;!-- Je to otrava, ale je důležité na requestu nastavit kódování,
abychom data z formuláře dostali ve správném formátu. --&gt;
&lt;%
request.setCharacterEncoding("UTF-8");
%&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;jsp:setProperty tag&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;!-- Vytvoření bean objektu uzivatel --&gt;
    &lt;jsp:useBean id="uzivatel" class="io.github.jirkasa.Uzivatel" /&gt;
    
    &lt;!-- Nastavení vlastností beanu podle parametrů z HTTP requestu (formuláře) --&gt;
    &lt;jsp:setProperty name="uzivatel" property="*" /&gt;
    
    &lt;!-- Vypsání vlastností beanu na stránku --&gt;
    &lt;p&gt;Uživatel: &lt;jsp:getProperty name="uzivatel" property="jmeno" /&gt; &lt;jsp:getProperty name="uzivatel" property="prijmeni" /&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>