<div data-project="9" data-project-extends="2" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="stranka1.jsp" data-folder="src/main/webapp" data-active data-code-highlight="13-14,17-19"><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Stránka 1&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Tento text se nezobrazí.&lt;/p&gt;
    &lt;% System.out.println("Toto se v konzoli vypíše"); %&gt;
    
    &lt;!-- Zase musíme nastavit kódování... --&gt;
    &lt;% request.setCharacterEncoding("UTF-8"); %&gt;
    
    &lt;!-- Předání requestu ke zpracování do jiné stránky. --&gt;
    &lt;jsp:forward page="./stranka2.jsp"&gt;
        &lt;jsp:param name="text" value="Toto je můj text." /&gt;
    &lt;/jsp:forward&gt;
    
    &lt;% System.out.println("Toto se v konzoli nevypíše"); %&gt;
    &lt;p&gt;Tento text se také nezobrazí. Nic z této stránky se nezobrazí.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>