<div data-project="10" data-project-extends="9" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="stranka2.jsp" data-folder="src/main/webapp" data-active data-code-highlight="10-11"><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Stránka 2&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;!-- Vypsání hodnoty parametru na stránku --&gt;
    &lt;p&gt;&lt;%= request.getParameter("text") %&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>