<div data-code-box data-no-buttons class="u-mb-4">
    <pre data-code><code class="language-html">&lt;!-- Nastavení vlastností beanu podle parametrů z HTTP requestu
(parametry se musejí jmenovat stejně jako vlastnosti) --&gt;
&lt;jsp:setProperty name="mujBean" property="*" /&gt;

&lt;!-- Nastavení vlastnosti email podle parametru email z HTTP requestu --&gt;
&lt;jsp:setProperty name="mujBean" property="email" /&gt;

&lt;!-- Nastavení vlastnosti email na hodnotu "test@test.com" --&gt;
&lt;jsp:setProperty name="mujBean" property="email" value="test@test.com" /&gt;</code></pre>
</div>