<div data-project="6" data-project-extends="5" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="formular.jsp" data-folder="src/main/webapp" data-active><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8" %&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;jsp:setProperty tag&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;form action="./vysledek.jsp" method="POST"&gt;
        &lt;label for="jmeno"&gt;Jméno:&lt;/label&gt;
        &lt;input type="text" id="jmeno" name="jmeno" /&gt;
        &lt;br&gt;&lt;br&gt;
        &lt;label for="prijmeni"&gt;Příjmení:&lt;/label&gt;
        &lt;input type="text" id="prijmeni" name="prijmeni" /&gt;
        &lt;br&gt;&lt;br&gt;
        &lt;button&gt;Odeslat&lt;/button&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>