<div data-project="4" data-project-extends="3" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="stranka.jsp" data-folder="src/main/webapp" data-active><code class="language-html">&lt;%@page contentType="text/html" pageEncoding="UTF-8" %&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;jsp:useBean tag&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;!-- Vytvoření bean objektu uzivatel, pokud ještě není vytvořený (v našem případě není) --&gt;
    &lt;jsp:useBean id="uzivatel" class="io.github.jirkasa.Uzivatel" /&gt;
    
    &lt;%
    // vytvořený bean objekt můžeme klidně používat ve scripletech
    uzivatel.setJmeno("Jiří");
    uzivatel.setPrijmeni("Satora");
    %&gt;
    
    &lt;p&gt;Uživatel: &lt;%= uzivatel.getJmeno() %&gt; &lt;%= uzivatel.getPrijmeni() %&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>