<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-html">&lt;div data-project="2" data-project-extends="1"&gt;
    &lt;ul data-project-commands&gt;
        &lt;li data-command-create-folder&gt;src/main/webapp/WEB-INF&lt;/li&gt;
        &lt;li data-command-open-folder-to-root&gt;src/main/webapp/WEB-INF&lt;/li&gt;
    &lt;/ul&gt;
    &lt;pre data-code="web.xml" data-folder="src/main/webapp/WEB-INF" data-active&gt;&lt;code class="language-xml"&gt;&lt;web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0"&gt;
&lt;/web-app&gt;&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
</div>