<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-html">&lt;div data-code-box&gt;
    &lt;pre data-code="main.js"&gt;&lt;code class="language-javascript"&gt;let x = 1;
let y = 2;

console.log(x + y);&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
</div>