<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-html">&lt;div data-project="2" data-project-extends="1" class="u-mb-2"&gt;
    &lt;ul data-project-commands&gt;
        &lt;li data-command-open-folder&gt;css&lt;/li&gt;
    &lt;/ul&gt;
    &lt;pre data-code="style.css" data-folder="css" data-active&gt;&lt;code class="language-css"&gt;h1 {
    font-size: 16px;
    color: red;
}&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
</div>