<div data-project="2" data-project-extends="1" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder>css</li>
    </ul>
    <pre data-code="style.css" data-folder="css" data-active><code class="language-css">h1 {
    font-size: 16px;
    color: red;
}</code></pre>
</div>