<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-html">&lt;div data-project="1"&gt;
    &lt;ul data-project-folders&gt;
        &lt;li&gt;
            src
            &lt;ul&gt;
                &lt;li&gt;
                    main
                    &lt;ul&gt;
                        &lt;li data-java-packages-folder&gt;java&lt;/li&gt;
                        &lt;li&gt;resources&lt;/li&gt;
                        &lt;li&gt;webapp&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    test
                    &lt;ul&gt;
                        &lt;li&gt;java&lt;/li&gt;
                        &lt;li&gt;resources&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;target&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
</div>