<div data-project="1" data-project-name="muj-projekt" class="u-mb-2">
    <ul data-project-folders>
        <li data-opened>js</li>
        <li>css</li>
    </ul>
    <pre data-code="main.js" data-folder="js" data-active><code class="language-javascript">let x = 1;
let y = 2;

console.log("výsledek: " + (x + y));</code></pre>
</div>