<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-html">&lt;div data-code-box class="u-mb-2"&gt;
    &lt;pre data-code="výpočet"&gt;&lt;code class="language-javascript"&gt;let x = 1;
let y = 2;

console.log("výsledek: " + (x + y));&lt;/code&gt;&lt;/pre&gt;
    &lt;pre data-code="spojování řetězců"&gt;&lt;code class="language-javascript"&gt;let retezec1 = "Toto je";
let retezec2 = " řetězec.";

console.log(retezec1 + retezec2);&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</code></pre>
</div>