<div data-code-box class="u-mb-2">
    <pre data-code="výpočet"><code class="language-javascript">let x = 1;
let y = 2;

console.log("výsledek: " + (x + y));</code></pre>
    <pre data-code="spojování řetězců"><code class="language-javascript">let retezec1 = "Toto je";
let retezec2 = " řetězec.";

console.log(retezec1 + retezec2);</code></pre>
</div>