<div data-slider class="splide" role="group" aria-label="Vyřešení Javadoc chyby v Eclipse IDE">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../static/img/sliders/eclipse-javadoc-error/eclipse-javadoc-error-part1.png" alt="Vyřešení Javadoc chyby v Eclipse IDE - část 1" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Po otevření pom.xml vidíme, že nám Eclipse hlásí chybu.</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img src="../static/img/sliders/eclipse-javadoc-error/eclipse-javadoc-error-part2.png" alt="Vyřešení Javadoc chyby v Eclipse IDE - část 2" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">V horním menu klikneme na "Window" a vybereme "Preferences".</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-page">
                    <img data-splide-lazy="../static/img/sliders/eclipse-javadoc-error/eclipse-javadoc-error-part3.png" alt="Vyřešení Javadoc chyby v Eclipse IDE - část 3" class="slider-page__image">
                    <div class="slider-page__description">
                        <p class="paragraph">Otevřelo se nám okno, ve kterém vybereme "Maven" a zaškrtneme "Download Artifact Javadoc". Poté klikneme na tlačítko "Apply and Close".</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>