<div data-code-box data-no-buttons class="u-mb-2">
    <pre data-code><code class="language-html">&lt;div data-slider class="splide u-mb-2" role="group" aria-label="Vyřešení Javadoc chyby v Eclipse IDE"&gt;
    &lt;div class="splide__track"&gt;
        &lt;ul class="splide__list"&gt;
            &lt;li class="splide__slide"&gt;
                &lt;div class="slider-page"&gt;
                    &lt;img src="../../static/img/sliders/eclipse-javadoc-error/eclipse-javadoc-error-part1.png" alt="Vyřešení Javadoc chyby v Eclipse IDE - část 1" class="slider-page__image"&gt;
                    &lt;div class="slider-page__description"&gt;
                        &lt;p class="paragraph"&gt;Po otevření pom.xml vidíme, že nám Eclipse hlásí chybu.&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
            &lt;li class="splide__slide"&gt;
                &lt;div class="slider-page"&gt;
                    &lt;img src="../../static/img/sliders/eclipse-javadoc-error/eclipse-javadoc-error-part2.png" alt="Vyřešení Javadoc chyby v Eclipse IDE - část 2" class="slider-page__image"&gt;
                    &lt;div class="slider-page__description"&gt;
                        &lt;p class="paragraph"&gt;V horním menu klikneme na "Window" a vybereme "Preferences".&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
            &lt;li class="splide__slide"&gt;
                &lt;div class="slider-page"&gt;
                    &lt;img data-splide-lazy="../../static/img/sliders/eclipse-javadoc-error/eclipse-javadoc-error-part3.png" alt="Vyřešení Javadoc chyby v Eclipse IDE - část 3" class="slider-page__image"&gt;
                    &lt;div class="slider-page__description"&gt;
                        &lt;p class="paragraph"&gt;Otevřelo se nám okno, ve kterém vybereme "Maven" a zaškrtneme "Download Artifact Javadoc". Poté klikneme na tlačítko "Apply and Close".&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>