<div data-project="2" data-project-extends="1" class="u-mb-2">
    <ul data-project-commands>
        <li data-command-open-folder-to-root>src/main/webapp</li>
    </ul>
    <pre data-code="footer.jsp" data-folder="src/main/webapp" data-active><code class="language-html">&lt;%@ page contentType="text/html" pageEncoding="UTF-8"%&gt;
&lt;footer&gt;Patička stránky&lt;/footer&gt;</code></pre>
</div>