.card {
    display: flex;
    background-color: @colors[grey-30];
    border-radius: .4rem;

    &__icon-side {
        background-color: @colors[grey-32];

        padding: 2.4rem 1.6rem 2.4rem 2.4rem;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;

        @media (max-width: #pxToEm(545)[]) {
            display: none;
        }

        svg {
            width: 11.2rem;
            height: 11.2rem;

            @media (max-width: #pxToEm(1200)[]) {
                width: 9.6rem;
                height: 9.6rem;
            }
            @media (max-width: #pxToEm(1170)[]) {
                width: 6.4rem;
                height: 6.4rem;
            }
            @media (max-width: #pxToEm(1100)[]) {
                width: 11.2rem;
                height: 11.2rem;
            }
            @media (max-width: #pxToEm(630)[]) {
                width: 6.4rem;
                height: 6.4rem;
            }
            @media (max-width: #pxToEm(560)[]) {
                width: 4.8rem;
                height: 4.8rem;
            }
        }
    }

    &__content-side {
        flex: 2;
        padding: 2.4rem;

        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__content {
        flex: 2;
    }

    &__buttons {
        display: flex;
        gap: 1.6rem;

        @media (max-width: #pxToEm(460)[]) {
            flex-wrap: wrap;

            > * {
                width: 100%;
            }
        }
    }
}