.code-box {
    &--project {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &__files {
        display: flex;
        overflow-x: auto;

        &--hidden {
            display: none;
        }

        // width
        &::-webkit-scrollbar {
            height: .8rem;
        }

        // track
        &::-webkit-scrollbar-track {
            background: darken(@colors[grey-40], 8%);
        }

        // handle
        &::-webkit-scrollbar-thumb {
            background: @colors[grey-60];

            &:hover {
                background: darken(@colors[grey-60], 5%);
            }
        }
    }

    &__file-button {
        display: flex;
        align-items: center;
        gap: .8rem;

        padding: .8rem 1.6rem .8rem .8rem;

        font-size: 1.6rem;
        line-height: 1;

        color: @colors[grey-80];
        background-color: @colors[analogic-2-light];
        border: none;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;

        transition: all .2s;
        cursor: pointer;

        svg {
            width: 1.6rem;
            height: 1.6rem;
            fill: @colors[grey-80];
        }

        &--active, &:hover, &:focus-visible {
            background-color: @colors[analogic-2];
        }
        &:focus-visible {
            outline: .3rem solid @colors[grey-80];
            outline-offset: -.2rem;
        }
    }

    &__code {
        display: flex;

        background-color: #333;
        border-radius: .4rem;

        &--hidden {
            display: none;
        }

        pre {
            flex: 2;
            width: 100%;

            font-size: 1.6rem;
            line-height: 2rem;
        }

        code {
            font-family: 'Ubuntu Mono', monospace;
            padding: @code-box-code-padding !important;
            margin: 0;

            border-radius: .4rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            overflow: visible !important;

            // when this class is set to code element, it is not highlighted, but .hljs class is not added by highlight.js
            // so it has to be styled on its own
            &.no-highlight {
                display: block;
                background: #333;
                color: @colors[grey-20];
            }
        }
    }
    &--simple &__code {
        border-top-left-radius: 0;
    }
    &--project &__code {
        min-height: 40rem;
    }

    // needed for code highlighting because of scrolling
    &__code-outer-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &__code-container {
        overflow: hidden;
        width: 100%;
        height: 100%;

        overflow-x: auto;

        // width
        &::-webkit-scrollbar {
            height: 1.6rem;
        }

        // track
        &::-webkit-scrollbar-track {
            background: darken(@colors[grey-40], 8%);
        }

        // handle
        &::-webkit-scrollbar-thumb {
            background: @colors[grey-60];

            &:hover {
                background: darken(@colors[grey-60], 5%);
            }
        }
    }

    &__code-highlight-box {
        position: absolute;
        top: @code-box-code-padding;
        left: (@code-box-code-padding / 2rem);
        width: ~"calc(100% - @{code-box-code-padding})";

        background-color: rgba(@colors[analogic-1], .15);
        border: .1rem solid @colors[analogic-1];
        border-radius: .4rem;

        pointer-events: none;
    }

    &__line-numbers {
        flex: 1;
        padding: .8rem;

        font-size: 1.6rem;
        line-height: 2rem;
        text-align: right;

        background-color: darken(#333, 6%);
        border-top-left-radius: .4rem;;
        border-bottom-left-radius: .4rem;

        > div {
            color: @colors[grey-60];
        }
    }
    &--simple &__line-numbers {
        border-top-left-radius: 0;
    }
    &--project &__line-numbers {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: .8rem + @code-box-project-button-size + @code-box-project-panel-border-width;
    }

    &__no-code-message {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        color: @colors[grey-40];
        background-color: #333;
        border-radius: .4rem;

        padding: 9.6rem 1.6rem;

        &--hidden {
            display: none;
        }
    }
    &--simple &__no-code-message {
        border-top-left-radius: 0;
    }
    &--project &__no-code-message {
        padding-left: 1.6rem + @code-box-project-button-size;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        min-height: 40rem; // todo - vytvořit na to proměnnou
    }
}