.link {
    &:link, &:visited {
        text-decoration: underline;
        color: @colors[analogic-4];
        border-radius: .4rem;

        transition: all .2s;

        word-break: break-word;
    }

    &:hover, &:focus-visible {
        background-color: @colors[analogic-4];
        color: @colors[white];
    }
    &:focus-visible {
        outline: .3rem solid @colors[grey-80];
        outline-offset: -.2rem;
    }
}