.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    list-style: none;

    padding: 1.6rem;

    position: sticky;
    top: @header-height;
    overflow-y: auto;
    max-height: ~"calc(100vh - @{header-height})";

    @media (max-width: @navigation-breakpoint) {
        max-height: ~"calc(100vh - @{header-height} - @{header-navigation-height})";
    }
    @media (max-width: @navigation-small-breakpoint) {
        max-height: ~"calc(100vh - @{header-height} - @{header-navigation-height-small})";
    }

    // width
    &::-webkit-scrollbar {
        width: 1.2rem;
    }

    // track
    &::-webkit-scrollbar-track {
        background: @colors[grey-30];
    }

    // handle
    &::-webkit-scrollbar-thumb {
        background: @colors[grey-40];

        &:hover {
            background: darken(@colors[grey-40], 5%);
        }
    }

    &__link {
        &:link, &:visited {
            display: block;

            padding: .8rem 1.6rem;
            
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            text-decoration: none;

            color: @colors[grey-80];
            background-color: @colors[analogic-2-light];
            border: .2rem solid @colors[analogic-2];
            border-radius: .4rem;

            transition: background-color .2s;
        }

        &:hover, &:focus-visible, &--active:link, &--active:visited {
            background-color: @colors[analogic-2];
        }
        &:focus-visible {
            outline: .3rem solid @colors[grey-80];
            outline-offset: -.2rem;
        }
    }
}