<footer class="footer">
    <div class="footer__content">
        <p class="footer__text">Tento web vytvořil <a href="https://jirkasa.github.io/" target="_blank" class="footer__link">Jiří Satora</a></p>
    </div>
</footer>