<header id="HeaderContainer" class="header">
    <div id="Header" class="header__container">
        <div class="header__content">
            <a href="<%= pathToRootFolder %>" class="header__home-link">Servlety a JSP<span class="header__home-link-unimportant-part"> - Návod</span></a>
            <nav id="HeaderNavigation" class="header__navigation">
                <ul>
                    <li>
                        <a href="<%= pathToRootFolder %>tutorial/priprava-pro-vyvoj" class="header__navigation-link <% if (locals.activeLink === "tutorial") { %>header__navigation-link--active<% } %>">Tutoriál</a>
                    </li>
                    <li>
                        <a href="<%= pathToRootFolder %>obsah" class="header__navigation-link <% if (locals.activeLink === "obsah") { %>header__navigation-link--active<% } %>">Obsah</a>
                    </li>
                    <li>
                        <a href="<%= pathToRootFolder %>dalsi-tutorialy/k-cemu-tato-sekce-slouzi" class="header__navigation-link <% if (locals.activeLink === "dalsi-tutorialy") { %>header__navigation-link--active<% } %>">Další tutoriály</a>
                    </li>
                    <li>
                        <a href="https://github.com/Jirkasa/servlety-a-jsp-navod" target="_blank" class="header__navigation-link">GitHub</a>
                    </li>
                </ul>
            </nav>
            <button id="NavigationToggleButton" class="menu-toggle-button">Otevřít/Zavřít menu<span class="menu-toggle-button__icon"></span></button>
        </div>
    </div>
</header>