<header id="HeaderContainer" class="header">
    <div id="Header" class="header__container">
        <div class="header__content">
            <a href="#" class="header__home-link">Servlety a JSP - Návod</a>
            <nav class="header__navigation">
                <ul>
                    <li>
                        <a href="#" class="header__navigation-link header__navigation-link--active">Tutoriál</a>
                    </li>
                    <li>
                        <a href="#" class="header__navigation-link">Obsah</a>
                    </li>
                    <li>
                        <a href="#" class="header__navigation-link">GitHub</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>