<div class="tutorial-page-layout">
    <div class="tutorial-page-layout__container">
        <nav id="TutorialNavigation" class="tutorial-page-layout__navigation-side">
            <ul class="navigation">
                <li>
                    <a href="<%= pathToOtherTutorialsFolder %>k-cemu-tato-sekce-slouzi/" class="navigation__link <% if (locals.activeLink === "k-cemu-tato-sekce-slouzi") { %>navigation__link--active<% } %>">K čemu tato sekce slouží</a>
                </li>
            </ul>
        </nav>
        <main class="tutorial-page-layout__content">