<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.2, minimum-scale=1.0">
    <title>Servlety a JSP - Návod</title>
    <!-- todo - přidat argumenty, které se předají...
        - metaAuthor
        - metaDescription
        - title
        - asi i relativní cestu k domovské stránce
    -->

    <!-- podle podmínky -->
    <script src="../../static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <input type="hidden" id="PATH_TO_ROOT" value="../../">