<div class="tutorial-page-layout">
    <div class="tutorial-page-layout__container">
        <nav class="tutorial-page-layout__navigation-side">
            <ul class="navigation">
                <li>
                    <a href="#" class="navigation__link">Příprava pro vývoj</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">Úvod do Servletů</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">HTTP Servlet</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">Sledování relace</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">Komunikace mezi Servlety</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">Úvod do JSP</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">JSP tagy</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">JSP direktivy</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">JSP actions</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">JSP custom tagy</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">JSP expression language</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">JSTL</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">MVC vzor</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">Struts framework</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">Práce s databází</a>
                </li>
            </ul>
        </nav>
        <main class="tutorial-page-layout__content">