<div class="tutorial-page-layout">
    <div class="tutorial-page-layout__container">
        <nav class="tutorial-page-layout__navigation-side">
            <ul class="navigation">
                <li>
                    <a href="#" class="navigation__link">Co je JPA</a>
                </li>
                <li>
                    <a href="#" class="navigation__link">Entity</a>
                </li>
            </ul>
        </nav>
        <main class="tutorial-page-layout__content">